{{ include('common/header.twig') }}
{{ include('common/title.twig') }}

<div id="not-found" class="page-content">
    <section>
        <div id="page-info">
            <div class="padding-hold">
                <h1 id="page-info-heading">
                    The page you are looking for cannot be found.
                </h1>
            </div>
        </div>
    </section>
</div>

{{ include('common/footer.twig') }}
