<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/" class="pure-menu-link">HOME <span class="vertical-separator">|</span></a>
        </li>
        <li class="pure-menu-item">
            <a href="/about" class="pure-menu-link">ABOUT <span class="vertical-separator">|</span></a>
        </li>
        <li class="pure-menu-item">
            <a href="/missions" class="pure-menu-link">MISSIONS <span class="vertical-separator">|</span></a>
        </li>
        <li class="pure-menu-item">
            <a href="/donate" class="pure-menu-link">DONATE <span class="vertical-separator">|</span></a>
        </li>
        <li class="pure-menu-item">
            <a href="/events" class="pure-menu-link">EVENTS <span class="vertical-separator">|</span></a>
        </li>
        <li class="pure-menu-item">
            <a href="/contact" class="pure-menu-link">CONTACT <span class="vertical-separator">|</span></a>
        </li>
        <li class="pure-menu-item">
            <a href="/newsletters" class="pure-menu-link">NEWSLETTERS</a>
        </li>
    </ul>
</div>
