<section>
    <div id="title-section">
        <div class="container">
            <div class="padding-hold">
                <h1 style="text-align: center">{{ DisplayTitle }}</h1>
            </div>
        </div>
    </div>
</section>
