<app-page-header [title]="'About Us'"></app-page-header>

<ul>
  <li
    *ngFor="let aboutNavigationSection of aboutSections"
    [innerText]="aboutNavigationSection.title"
    [ngClass]="{ active: aboutNavigationSection.active }"
    (click)="activateSection(aboutNavigationSection)"
  ></li>
</ul>

<div class="page-wrapper">
  <div [ngClass]="{ hidden: !sectionActive(aboutSectionLabels.coreValues) }">
    <h2 [innerText]="aboutSectionLabels.coreValues"></h2>
    <app-core-values></app-core-values>
  </div>

  <div [ngClass]="{ hidden: !sectionActive(aboutSectionLabels.ourFounder) }">
    <h2 [innerText]="aboutSectionLabels.ourFounder"></h2>
    <app-founder></app-founder>
  </div>

  <div [ngClass]="{ hidden: !sectionActive(aboutSectionLabels.boardMembers) }">
    <h2 [innerText]="aboutSectionLabels.boardMembers"></h2>
    <app-board-members></app-board-members>
  </div>
</div>
