@import '../../shared/globals';

h2 {
  color: $dark-theme-color;
  text-align: center;
  margin-top: 1em !important;
}

$sub-menu-height: 60px;

ul {
  list-style: none;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  display: block;
  width: 100%;
  text-align: center;
  background: $dark-contrast-color;

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    height: $sub-menu-height;
  }
}

li {
  line-height: $sub-menu-height;
  font-size: 23px;
  color: $white;

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    margin-right: 100px !important;
    display: inline-block;
  }

  &:hover {
    cursor: pointer;
    color: $light-theme-color;
  }
}

.active {
  color: $light-theme-color;
}
