{{ include('news/news-header.twig') }}

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Spring 2019
            </h1>
        </div>
    </div>
</section>

<iframe class="news-item" src="https://drive.google.com/file/d/0B4h85lDDR6KkZndMMUZycFV5YTcxQUhzYzR4S25jckRvUVFn/preview"></iframe>

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Winter 2018
            </h1>
        </div>
    </div>
</section>

<iframe class="news-item" src="https://drive.google.com/file/d/0B4h85lDDR6KkYi1wakZ1WDF2QlM3bEcxVlFUN0FSc09Hdm5N/preview"></iframe>

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Summer 2018
            </h1>
        </div>
    </div>
</section>


<iframe class="news-item" src="https://drive.google.com/file/d/1DSAv3kQIbUKIAk-uPFQHheA14u0v7bau/preview" width="640" height="480"></iframe>

{{ include('news/news-footer.twig') }}
