@import '../../shared/globals';

#cards {
  margin-top: 3em;

  .card-column {
    margin-bottom: 2em;
  }

  h3, p {
    text-align: center;
  }

  h3 {
    margin-bottom: 1em !important;
  }

  p {
    color: $gray-theme-color;

    &.description {
      margin: 1.5em 0.10em !important;
      height: auto;

      @media only screen and (min-width: map-get($grid-breakpoints, md)) {
        height: 115px;
      }
    }

    i {
      font-size: 6em;
    }
  }

  .button-container {
    padding: 0 2em !important;
  }

  button {
    display: block;
    width: 100%;
    margin: 0 auto !important;
    height: 2.5em;
    background: $light-theme-color;
    color: $white;
    border: 0;
    border-radius: 4px;

    &:hover {
      background: $dark-theme-color;
    }
  }
}
