<div class="container" id="cards">
  <div class="row no-gutters">
    <div class="col-md card-column">
      <h3>Support Us</h3>
      <p><i class="fas fa-donate"></i></p>
      <button [routerLink]="'/donate'">Give</button>
    </div>

    <div class="col-md card-column">
      <h3>Mission Trips</h3>
      <p><i class="fas fa-suitcase"></i></p>
      <button [routerLink]="'/missions'">Explore</button>
    </div>

    <div class="col-md card-column">
      <h3>Our Mission</h3>
      <p><i class="fas fa-hands-helping"></i></p>
      <button [routerLink]="'/about'">Learn More</button>
    </div>
  </div>
</div>
