{{ include('events/events-header.twig') }}

<div class="container main-page-content">
    <div id="content">
        <div class="padding-hold">
            <div class="individual-event">
                <div class="page-section-header">
                    <h2>
                        Gala 2018
                        <img class="arrow right-arrow first-event" src="/resources/images/common/arrows/right-arrow-white-large.png"
                             alt="Right arrow">
                        <img class="arrow down-arrow first-event" src="/resources/images/common/arrows/down-arrow-white-large.png"
                             alt="Down arrow">
                    </h2>
                </div>
                <div class="event-content first-event">
                    <div class="padding-left-sub-large-screen">
                        <a href="https://www.eventbrite.com/e/reiser-relief-2018-fall-gala-tickets-50099966348" target="_blank" class="plain-link">
                            <h2 id="purchase">PURCHASE TICKETS HERE</h2>
                        </a>
                    </div>
                    <img src="/resources/images/events/fg-2018.jpg" alt="Fall Gala 2018">
                    <div class="padding-left-sub-large-screen">
                        <p>
                            Join us as we celebrate God's grace and together lift up and empower our brothers and sisters in Haiti. Our 7th annual Fall Gala is Thursday, November 15, 2018, at the Minneapolis Marriott Northwest in Brooklyn Park, Minnesota. For those who plan to stay overnight, <a href="https://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Reiser%20Relief%5Emspnw%60resresa%7Cresresf%60102.00%60USD%60false%604%6011/15/18%6011/16/18%6010/24/18&app=resvlink&stop_mobi=yes" class="plain-link" target="_blank">here is the link to our discounted group rate at the Minneapolis Marriott Northwest</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="individual-event">
                <div class="page-section-header">
                    <h2>
                        Gala 2017
                        <img class="arrow right-arrow" src="/resources/images/common/arrows/right-arrow-white-large.png"
                             alt="Right arrow">
                        <img class="arrow down-arrow" src="/resources/images/common/arrows/down-arrow-white-large.png"
                             alt="Down arrow">
                    </h2>
                </div>
                <div class="event-content">
                    <img src="/resources/images/events/fg-2017.jpg" alt="Fall Gala 2017">
                    <div class="padding-left-sub-large-screen">
                        <p>
                            Thank you for joining us at our Reiser Relief Fall Gala on November 10, 2017. Our focus was
                            on education which is highly valued in Haiti and a core value of Reiser Relief. You
                            supported 1,156 children at four schools in Haiti, thus empowering these students to
                            transform their lives, their community and their country.
                        </p>
                        <p>
                            Over $55,000 was raised at our event. In addition, we received online and mail-in donations
                            of $28,000 for a total of $83,000. Your dedicated support will continue putting smiles on
                            the faces of many children—and parents—in Haiti! We are grateful for the volunteers who give
                            of their time and talent to Reiser Relief. Due to their dedication, 96% of every dollar
                            donated goes to ministry in Haiti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('events/events-footer.twig') }}
