{{ include('events/events-header.twig') }}

<div class="container main-page-content">
    <div id="content">
        <div class="padding-hold">
            <div class="individual-event">
                <div class="page-section-header">
                    <h2 style="max-width: 235px">
                        Virtual Gala 2020
                        <img class="arrow right-arrow first-event"
                             src="/resources/images/common/arrows/right-arrow-white-large.png"
                             alt="Right arrow">
                        <img class="arrow down-arrow first-event"
                             src="/resources/images/common/arrows/down-arrow-white-large.png"
                             alt="Down arrow">
                    </h2>
                </div>
                <div class="event-content first-event">
                    <img
                            src="/resources/images/events/fg-2020-1.jpg" style="max-width: 799px" alt="Virtual Gala 2020">
                    <br>
                    <img
                            src="/resources/images/events/fg-2020-2.jpg" style="max-width: 799px" alt="Virtual Gala 2020">
                    <br>

                    <p id="gala-info">Visit this web page again on November 12th to access the gala video and donate.</p>
                </div>
            </div>
            <div class="individual-event">
                <div class="page-section-header">
                    <h2>
                        Gala 2019
                        <img class="arrow right-arrow"
                             src="/resources/images/common/arrows/right-arrow-white-large.png"
                             alt="Right arrow">
                        <img class="arrow down-arrow"
                             src="/resources/images/common/arrows/down-arrow-white-large.png"
                             alt="Down arrow">
                    </h2>
                </div>
                <div class="event-content">
                    <a target="_blank" class="purchase-link"
                       href="https://www.eventbrite.com/e/reiser-relief-2019-fall-gala-tickets-71851025351"><img
                                src="/resources/images/events/fg-2019.jpg" alt="Fall Gala 2019"></a>
                    <div class="padding-left-sub-large-screen">
                        <div id="current-content">
                            <h3>
                                Thank you to all who made this evening a huge success! We are pleased to announce that we raised over $100,000 from the event, including mailed-in donations. We are proud to support Sister Paesie and her mission serving the poorest of the poor in Haiti.
                            </h3>

                            <iframe width="560" height="315" src="https://www.youtube.com/embed/J2cSIG3z5GI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="individual-event">
                <div class="page-section-header">
                    <h2>
                        Gala 2018
                        <img class="arrow right-arrow"
                             src="/resources/images/common/arrows/right-arrow-white-large.png"
                             alt="Right arrow">
                        <img class="arrow down-arrow"
                             src="/resources/images/common/arrows/down-arrow-white-large.png"
                             alt="Down arrow">
                    </h2>
                </div>
                <div class="event-content">
                    <img src="/resources/images/events/fg-2018.jpg" alt="Fall Gala 2018">
                    <div class="padding-left-sub-large-screen">
                        <p>
                            What a night! Thank you to all who attended, volunteered, or donated on-line or by mail to
                            our Fall Gala on November 15. We achieved our goal of raising enough money to fully fund our
                            ministries to the disabled and elderly for two years. We raised over $71,000, including
                            mailed-in and online donations. We raised $102,000 during the entire month of November.
                        </p>
                        <p>
                            You responded with incredible compassion toward the vulnerable. For this, we celebrate -
                            knowing that 87 abandoned elderly men and women and 80 disabled children and adults will
                            continue to receive loving care.
                        </p>
                    </div>
                </div>
            </div>
            <div class="individual-event">
                <div class="page-section-header">
                    <h2>
                        Gala 2017
                        <img class="arrow right-arrow" src="/resources/images/common/arrows/right-arrow-white-large.png"
                             alt="Right arrow">
                        <img class="arrow down-arrow" src="/resources/images/common/arrows/down-arrow-white-large.png"
                             alt="Down arrow">
                    </h2>
                </div>
                <div class="event-content">
                    <img src="/resources/images/events/fg-2017.jpg" alt="Fall Gala 2017">
                    <div class="padding-left-sub-large-screen">
                        <p>
                            Thank you for joining us at our Reiser Relief Fall Gala on November 10, 2017. Our focus was
                            on education, which is highly valued in Haiti and an integral aspect of Reiser Relief’s
                            mission. You supported 1,156 children at four schools in Haiti, thus empowering these
                            students to transform their lives, their community and their country.
                        </p>
                        <p>
                            Over $55,000 was raised at our event. In addition, we received online and mail-in donations
                            of $28,000 for a total of $83,000. Your dedicated support will continue putting smiles on
                            the faces of hundreds of children and parents in Haiti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('events/events-footer.twig') }}
