{{ include('common/header.twig') }}
{{ include('common/title.twig') }}

<div id="events">
    <section id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Come show your support for Haiti.
            </h1>
            <p id="page-info-details">
                Join us at one of our many fun events, including live auctions and dinner, to raise support for Haitians in need.  All proceeds go directly towards helping those who need it most.
            </p>
        </div>
    </section>
