<section>
    <div id="fall-gala">
        <img class="horizonal" src="/resources/images/events/fg.jpg" alt="Fall Gala">
        <div class="padding-left-sub-large-screen">
            <p>
                {{ EventText }}
            </p>
        </div>
    </div>
</section>
