<section>
    <div id="give-to-the-max-day">
        <img class="horizonal" src="/resources/images/events/gttmd.jpg" alt="Give to the Max Day">
        <div class="padding-left-sub-large-screen">
            <p>
                {{ EventText }}
            </p>
        </div>
    </div>
</section>
