<section id="give-to-the-max-day">
    <img calss="horizonal" src="{{ RootURL }}resources/images/events/gttmd.jpg" alt="Give to the Max Day">
    <div class="padding-left-sub-large-screen">
        <p>
            Thank you to all who attended, mailed in donations, gave on-line, volunteered and provided prayer support
            for this event. Over $78,000 was raised at our event, and $56,000 online and by mail. In addition we met a
            $40,000 matching grant for a total of $174,000! All funds will go directly to our partners in Marfranc to
            rebuild dormitories, the convent, school, and to provide emergency food relief and supplies to the
            community. Our next fall event will be Friday, November 10, 2017, at the Minneapolis Marriott Northwest in
            Brooklyn Park, MN.
        </p>
    </div>
</section>
