<section>
    <div id="keep-the-wheel-turning">
        <img class="horizontal" src="/resources/images/events/ktwt.jpg" alt="Keep the Wheel Turning">
        <div class="padding-left-sub-large-screen">
            <p>
                {{ EventText }}
            </p>
        </div>
    </div>
</section>
