<section>
    <div id="keep-the-wheel-turning">
        <img class="horizontal" src="{{ RootURL }}resources/images/events/ktwt.jpg" alt="Keep the Wheel Turning">
        <div class="padding-left-sub-large-screen">
            <p>
                Join us Thursday, April 27, for an excellent evening! Fellowship, games, soft drinks, appetizers, cash
                bar.
                Let’s honor the legacy of our dear departed Father Reiser. Money raised will fund the construction of a
                kitchen and dining hall at Guardian Angels Primary School in Haiti.
            </p>
        </div>
    </div>
</section>
