{{ include('common/header.twig') }}
{{ include('common/title.twig') }}

<div id="about" class="page-content">
    <section>
        <div id="page-info">
            <div class="padding-hold">
                <h1 id="page-info-heading">
                    We partner with impactful organizations to empower and engage the people of Haiti in Christ’s name.
                </h1>
            </div>
        </div>
    </section>
