{{ include('common/header.twig') }}
{{ include('common/title.twig') }}

<div id="about" class="page-content">
    <section id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Providing relief, hope, and dignity to the poor, elderly, and homeless people of Haiti.
            </h1>
            <p id="page-info-details">
                Reiser Relief is a Catholic based non-profit 501(c)(3) dedicated to serving the most vulnerable and disadvantaged Haitians.  We are committed to being a volunteer run organization, where nearly 100% of all donations go directly towards the needs of the poor.
            </p>
        </div>
    </section>
