{{ include('common/header.twig') }}
{{ include('common/title.twig') }}

<div id="about" class="page-content">
    <section>
        <div id="page-info">
            <div class="padding-hold">
                <h1 id="page-info-heading">
                    We partner with impactful organizations to empower and engage the people of Haiti in Christ’s name.
                </h1>
                {% if DisplayPageInfo %}
                    <p id="page-info-details">
                        Reiser Relief is a Catholic non-profit 501(c)(3) dedicated to serving the most vulnerable and
                        disadvantaged Haitians. We are grateful for the volunteers who give of their time and talent to
                        Reiser Relief. Due to their dedication, over 90% of every dollar donated goes to Reiser Relief's
                        ministry partners in Haiti.
                    </p>
                {% endif %}
            </div>
        </div>
    </section>
