<section>
    <div id="work">
        <div class="work-item" id="education">
            <h3>
                Education
            </h3>
            <img class="horizontal" src="/resources/images/about/work/education.jpg"
                 alt="Education">
            <p>
                Education can provide hope and opportunity for the future of Haiti.  The literacy rate in Haiti is 61%.
                 There are few public schools and for most children the only chance for an education is from private
                schools.  With an average monthly income of $50, few families can afford to send their children to
                school.  Even though schools are often over-crowded with no electricity or air conditioning, the
                children are delighted to have the opportunity to learn.
            </p>
            <p>
                Reiser Relief supports four schools that together educate 1,156 students.  Terre Promise
                School is located in the slum of Cite Soleil. Reiser Heights is in the
                poor, rural area of Lespinasse.  Reiser Relief pays teacher salaries so that school fees can be
                affordable for poor families.  At Guardian Angels primary school in Leogane, we sponsor
                a school lunch program with locally sourced food that provides nutritious meals to 250 students daily.
                 Ecole
                Congreganiste des Petites Soeurs de Ste Therese (Cecelia Duffy Memorial School) in
                southwest Haiti was constructed in 2015 providing new education opportunities in an isolated community.
            </p>
            <p>
                We are delighted to support a Delmas Professional Trade School in Port au Prince. One-year programs
                teach foodservice and tailoring skills to 50 students (primarily disadvantaged girls and women). Future
                courses will include construction and plumbing. The vision is to teach practical trade skills, allowing
                students to make a living and help provide for their families.
            </p>
            <p>
                We provide university scholarships to graduates of Terre Promise.  These bright students are studying
                medicine, business, agriculture, and information systems at various universities in Port au Prince.
            </p>
            <iframe
                    src="https://www.youtube.com/embed/WEZ0MRck6iY" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <div class="work-item" id="care">
            <h3>
                Elder and Disabled Care
            </h3>
            <img class="horizontal left-aligned" src="/resources/images/about/work/care.jpg" alt="Care">
            <p>
                A lack of public social services in Haiti leaves the elderly and disabled extremely
                vulnerable.
            </p>
            <p>
                Fr. Reiser’s first project in Haiti was to construct a care facility for abandoned elderly women in
                Leogane. Currently 40 women are lovingly cared for by The Haitian Sisters of the Companion of Jesus.
            </p>
            <p>
                The same Haitian sisters manage another home for orphaned elderly women in Port au Prince.  With your
                support we funded a renovation at Ville le Sacre Couer de Jesus (Sacred Heat of Jesus).  The renovations
                improved overall accessibility and comfort for the residents.    A remodeled kitchen makes cooking
                large meals more convenient for the staff, and an outside patio gives the ladies living there a safe
                place to enjoy the outdoors. On-going financial support provides locally sourced food and medical care
                for 25 women at Sacred Heart.
            </p>

            <div class="more-toggle-content">
                <p>
                    In 2015 we began a partnership with the Little Sisters of St. Therese of the Infant Jesus. This
                    order of Haitian nuns ministers to the poor at a site near Jeremie, Haiti. We are honored to sponsor
                    facility upgrades and provide food that protects that safety, health and dignity of 32 vulnerable
                    adults and elderly Haitians in their care.
                </p>
                <p>
                    Reiser Relief supports two homes for the elderly and one home for the disabled in the Port au Prince area.  Through your support, we are
                    able to donate money to purchase food, make facility improvements, and provide scholarships to help
                    the youth transition to independence. Our mission teams often share their time and talents with the
                    children, and provide love and care to those with needs that require special attention. One of the
                    homes is managed by the Missionaries of the Poor who care for severely disabled children and adults.
                    Most of these beloved children of God would have no hope for survival without the brothers who love
                    them unconditionally, and thrive in their care.
                </p>
                <iframe
                        src="https://www.youtube.com/embed/irkqW-PUjeo" frameborder="0" allowfullscreen>
                </iframe>
            </div>
            <p class="more-toggle plain-link">Show more</p>
        </div>
        <div class="work-item" id="job-creation">
            <h3>
                Job Creation
            </h3>
            <img class="horizontal" src="/resources/images/about/work/employment.jpg"
                 alt="Employment">
            <p>
                Haitians are hard-working, capable and industrious. Being in employment boosts self-esteem, gives a
                sense of purpose, and contributes to a happy society. We respect the Haitian economy by leaving Haitian
                jobs to Haitians, sourcing materials locally and partnering with organizations who share this view. We
                are pleased to employ Haitians in short-term construction projects and in long-term jobs of teaching and
                caring for the vulnerable. We support local stores and vendors by buying materials and supplies in
                country. Our ministry partners in Haiti are grassroots organizations that are focused on long-term,
                mutually respectful relationships with their communities.
            </p>
        </div>
        <div class="work-item" id="agriculture">
            <h3>
                Agriculture
            </h3>
            <img class="horizontal left-aligned" src="/resources/images/about/work/agriculture.jpg" alt="Agriculture">
            <p>
                Haiti is a lush country capable of once again becoming largely self-sustainable with agricultural
                products. A wide range of fruits and vegetables such as citrus fruits, banana, mango, avocado, tomatoes,
                cassava, and yams grow abundantly. In addition Haitians grow a variety of beans, rice and grains
                including corn and sorghum. Cash crops include coffee, cacao and much more. Livestock such as chicken,
                goats and pigs provide eggs, milk and meat.
            </p>
            <p>
                To support the Haitian economy, we purchase locally produced food in collaboration with our partners.
                This is used to feed children at Reiser Relief schools and homes for elderly and vulnerable adults. In
                addition to being more nutritious, this practice protects the livelihood of small family farms. In the
                communities surrounding our rural ministries we do seed and livestock distribution, including goats,
                pigs, and cows, to families in need.
            </p>
        </div>
        <div class="work-item last" id="water">
            <h3>
                Water
            </h3>
            <img class="horizontal" src="/resources/images/about/work/water.jpg" alt="Water">
            <p>
                Since 2005, together with our ministry partners, we have delivered clean water for free to the poor in
                Cite
                Soleil, the poorest slum in the Western Hemisphere. The people who live here have no electricity, no
                toilets
                and no running water. Without clean water, children contract parasites and bacteria and die from
                malnutrition. Fresh water, trucked in and distributed bucket by bucket, sustains thousands of families
                six
                days a week, 52 weeks a year. The people (many of them children) stand in long lines under the hot sun
                for
                the opportunity to fill a 5 gallon bucket or tub that they then carry to their shack. The water must
                then
                last their entire family for one day or more for all of their drinking, cooking and washing needs.
            </p>
            <p>
                We seek opportunities to promote sustainable water solutions for ministry partners. In Marfranc, we
                purchased a generator and pump that provide clean water for the school, elder care facility, cooks, nuns
                and other residents.
            </p>
            <iframe
                    src="https://www.youtube.com/embed/3G7bPpntc6U" frameborder="0" allowfullscreen>
            </iframe>
        </div>
    </div>
</section>
