<section>
    <div id="work">
        <div class="work-item" id="education">
            <h3>
                Education
            </h3>
            <img class="horizontal" src="/resources/images/about/work/education.jpg"
                 alt="Education">
            <p>
                Education can provide hope and opportunity for the future of Haiti. The literacy rate in Haiti is 50%
                and
                only half of the children attend school. There are few public schools and for most children, the only
                chance
                for an education is from private schools. With an average monthly income of $50, few families can afford
                to
                send their children to school. Even though schools are often over-crowded with no electricity or air
                conditioning, the children are delighted to have the opportunity to learn.
            </p>
            <p>
                Reiser Relief supports four schools that together educate 1,300 students. Terre Promise School is
                located in
                the slum of Cite Soleil. Reiser Heights is in the poor, rural area of Lespinasse. Reiser Relief pays
                teacher
                salaries so that school fees can be affordable for poor families. At Guardian Angels primary school in
                Leogane, we sponsor a school lunch program with locally sourced food that provides nutritious meals to
                250
                students daily. Ecole Congreganiste des Petites Soeurs de Ste Therese (Cecelia Duffy Memorial School) in
                southwest Haiti was constructed in 2015 providing new education opportunities in an isolated community.
            </p>
            <p>
                We provide university scholarships to thirteen graduates of Terre Promise. These bright students are
                studying medicine, business, agriculture and information systems at various universities in Port au
                Prince.
            </p>
        </div>
        <div class="work-item" id="care">
            <h3>
                Elder, Orphan and Disabled Care
            </h3>
            <img class="horizontal left-aligned" src="/resources/images/about/work/care.jpg" alt="Care">
            <p>
                A lack of public social services in Haiti leaves the elderly, orphaned and disabled extremely
                vulnerable.
            </p>
            <p>
                Our first project in Haiti was to construct an care facility for abandoned elderly women in
                Leogane. Currently 40 women are lovingly cared for by The Haitian Sisters of the Companions of Jesus.
            </p>
            <p>
                The same Haitian sisters manage another home for orphaned elderly women in Port au Prince. With your
                support
                we funded a renovation at Ville le Sacre Couer de Jesus (Sacred Heat of Jesus). The renovations improved
                overall accessibility and comfort for the residents. A remodeled kitchen makes cooking large meals more
                convenient for the staff, and an outside patio gives the ladies living there a safe place to enjoy the
                outdoors. On-going financial support provides locally sourced food and medical care for 25 women at
                Sacred
                Heart.
            </p>
            <div class="more-toggle-content">
                <p>
                    In 2015 we began a partnership with the Little Sisters of St. Therese of the Infant Jesus. This order of
                    Haitian nuns ministers to the poor at a site near Jeremie, Haiti. We are honored to sponsor facility
                    upgrades and provide food that protects that safety, health and dignity of 32 vulnerable adults and
                    elderly
                    Haitians in their care.
                </p>
                <p>
                    Reiser Relief supports three orphanages in the Port au Prince area. Through your support, we are able to
                    donate money to purchase food, make facility improvements, and provide scholarships to help the youth
                    transition to independence. Our mission teams often share their time and talents with the children, and
                    provide love and care to those with needs that require special attention. One of the homes is managed by
                    the
                    Missionaries of the Poor who care for severely disabled children and adults. Most of these beloved
                    children
                    of God would have no hope for survival without the brothers who love them unconditionally, and thrive in
                    their care.
                </p>
            </div>
            <p class="more-toggle plain-link">Show more</p>
        </div>
        <div class="work-item" id="employment">
            <h3>
                Employment
            </h3>
            <img class="horizontal" src="/resources/images/about/work/employment.jpg"
                 alt="Employment">
            <p>
                We are an all-volunteer organization in the US. We pay salaries to Haitians who teach or care for the
                vulnerable. Whenever possible, we buy materials and supplies in Haiti, supporting the local economy and
                farmers.
            </p>
        </div>
        <div class="work-item" id="agriculture">
            <h3>
                Agriculture
            </h3>
            <img class="horizontal left-aligned" src="/resources/images/about/work/agriculture.jpg" alt="Agriculture">
            <p>
                Haiti is a lush country capable of once again becoming largely self-sustainable with agricultural
                products.
                Whenever possible, we purchase locally produced food for our ministries. We support agriculture in
                Marfanc
                with seeds, research and a goat program.
            </p>
        </div>
        <div class="work-item last" id="water">
            <h3>
                Water
            </h3>
            <img class="horizontal" src="/resources/images/about/work/water.jpg" alt="Water">
            <p>
                Since 2005, together with our ministry partners, we have delivered clean water for free to the poor in
                Cite
                Soleil, the poorest slum in the Western Hemisphere. The people who live here have no electricity, no
                toilets
                and no running water. Without clean water, children contract parasites and bacteria and die from
                malnutrition. Fresh water, trucked in and distributed bucket by bucket, sustains thousands of families
                six
                days a week, 52 weeks a year. The people (many of them children) stand in long lines under the hot sun
                for
                the opportunity to fill a 5 gallon bucket or tub that they then carry to their shack. The water must
                then
                last their entire family for one day or more for all of their drinking, cooking and washing needs.
            </p>
            <p>
                We seek opportunities to promote sustainable water solutions for ministry partners. In Marfranc, we
                purchased a generator and pump that provide clean water for the school, eldercare facility, cooks, nuns
                and
                other residents.
            </p>
        </div>
    </div>
</section>
