<section>
    <div id="founder">
        <div class="padding-left-sub-large-screen">
            <img src="/resources/images/about/founder/father-reiser.jpg" class="tile-small horizontal"
                 alt="Father Reiser">
            <p>
                Father Bernard Reiser was born in 1924 to Aloys and Ottilia Reiser, farmers living in Wayzata,
                Minnesota.
                Father Reiser was ordained to the priesthood on June 4, 1949 and was assigned to St. Mary of the Lake
                parish
                in White Bear Lake, Minnesota. In 1964, Archbishop Leo Binz asked Father Reiser to start a parish in the
                quickly-growing Minneapolis suburb of Coon Rapids. Seventy acres of farmland was acquired for the new
                church, which was named Epiphany after one of the great feast days of the Lord.
            </p>
            <p>
                Under Father Reiser’s leadership, Epiphany grew to become one of the largest Catholic communities in the
                state. In addition to a spacious sanctuary, the Epiphany campus includes an elementary school, a
                Perpetual
                Adoration chapel, a senior housing complex, an assisted living facility, a cemetery, and several outdoor
                shrines.
            </p>
            <div class="more-toggle-content">
                <p>
                    In 1996, Father Reiser traveled to Haiti. ”I had seen slums in China, Egypt and Mexico City,” he wrote.
                    ”None of them compare to the tragic realities of the slum outside Port au Prince.” In time, Father
                    Reiser
                    established Reiser Relief, Inc.
                </p>
                <p>
                    After 62 years of dedicated priesthood, Father Bernard Reiser went to the Lord on December 27, 2011 at
                    the
                    age of 86. Preceded in death by his parents, Aloysius and Ottilia Reiser; brother, Alex Reiser; sisters,
                    Lynn Maciej and Sister Bertrand Reiser, O.S.B. Survived by sister, Rosemary (Stanley) Leger; nephews,
                    Bernie
                    Maciej, Bob Maciej, Lee Maciej, Tony Leger and Norm Leger; and his nieces, Sue Spencer, Ann Brau, Connie
                    Koehn, Liz Reiser, Margie Saatzer, Lois Lepinski, Rene Kopen, Mary Kay Ness, Yvonne Schuneman and Joyce
                    Getchell.
                </p>
                <iframe
                        src="https://www.youtube.com/embed/SJ0gdaDRJYg" frameborder="0" allowfullscreen>
                </iframe>
            </div>
            <p class="more-toggle plain-link">Show more</p>
        </div>
    </div>
</section>
