<section>
    <div id="founder">
        <div class="padding-left-sub-large-screen">
            <img src="/resources/images/about/founder/father-reiser.jpg" class="tile-small horizontal"
                 alt="Father Reiser">
            <p id="quote">
                “You can’t walk away from misery and do nothing.”<br>
                - Father Bernard Reiser
            </p>
            <p>
                Bernard Reiser was born in 1924 to Aloys and Ottilia Reiser, farmers living in Wayzata,
                Minnesota. He was ordained to the priesthood on June 4, 1949 and was assigned to St. Mary of
                the Lake Parish in White Bear Lake, Minnesota. In 1964, Archbishop Leo Binz asked Father
                Reiser to start a parish in the quickly-growing Minneapolis suburb of Coon Rapids. Seventy
                acres of farmland was acquired for the new church, which was named Epiphany after the great
                feast day of our Lord. Father Reiser’s vision for the new parish was to see it become a home for
                people from conception to natural death.
            </p>
            <p>
                Under Father Reiser’s leadership, Epiphany grew to be one of the largest Catholic communities
                in Minnesota, totaling almost 20,000 people. In addition to the church, the Epiphany campus
                includes an elementary school, a Perpetual Adoration chapel, a senior housing complex, an
                assisted living facility, a cemetery, prayer garden, Stations of the Cross, and an outdoor shrine.
            </p>
            <p>
                In 1996, Father Reiser traveled to Haiti for the first time. “I have seen slums in China, Egypt and
                Mexico City,” he wrote. “None of them compare to the tragic realities of the slum outside Port
                au Prince.” Father Reiser was profoundly impacted by his first experience in Haiti and resolved
                to spend the rest of his life raising awareness about the level of poverty in the country and
                alleviating the suffering of the poor. This was the beginning of Reiser Relief.
            </p>
            <p>
                Father Reiser returned to Haiti multiple times, where he started an elementary school, a home for
                the elderly, and a water truck ministry that provides clean water free of charge to residents of
                Cite Soleil, the poorest slum in the Western Hemisphere.
            </p>
            <p>
                After 62 years of dedicated priesthood, Father Bernard Reiser went to the Lord on December 27,
                2011 at the age of 86. Thousands of people mourned the passing of a beloved friend, mentor and
                pastor.
            </p>
            <p>
                Reiser Relief carries on the legacy of Father Reiser by continuing the work he started in Haiti.
                Since our founding, the organization has grown to support four primary schools, three homes for
                the elderly, one home for disabled adults, one trade school, one water truck ministry, and one
                university scholarship program.
            </p>
            <p>
                We thank God for the life of Father Reiser, a visionary who made the world a better place.
            </p>
            <div class="pure-g" id="additional-founder-content">
                <div class="pure-u-1-1">
                    <div class="founder-sub-section">
                        <h2><strong>Fr. Reiser Receives KARE 11 Service Award</strong></h2>
                        <iframe
                                src="https://www.youtube.com/embed/SJ0gdaDRJYg" frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="pure-u-1-1">
                    <h2><strong>Fr. Reiser Speaks About Haiti After 2010 Earthquake</strong></h2>
                    <iframe
                            src="https://www.youtube.com/embed/rNn5BQHt2Lk" frameborder="0" allowfullscreen>
                    </iframe>
                </div>
                <div class="pure-u-1-1">
                    <div class="founder-sub-section">
                        <h2><strong>Reiser's Ramblings</strong></h2>
                        <img src="/resources/images/about/founder/reisers-ramblings.jpg" alt="Reiser's Ramblings">
                        <p>
                            <span>"Reiser's Ramblings"</span> is a collection of daily and weekly meditations and devotions. In this book, you will find Fr. Reiser’s take on everyday topics such as family, kindness, gratitude, prayer, helping others, and staying focused on what is important in life. Fr. Reiser’s essays are rich in symbolism, wise in understanding of human nature, and fruitful in explicating the word of God.
                        </p>
                        <p>Purchase Reiser's Ramblings on Amazon
                            <a class="plain-link" target="_blank" href="https://www.amazon.com/Reisers-Ramblings-Book-Collection-Minnesota/dp/0615364780/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=&sr=">
                                here</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
