{{ include('about/about-header.twig') }}

<section id="mission">
    <div class="container">
        <div class="padding-hold">
            <h2 class="about-header">
                Our Mission
            </h2>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-1">
                <div class="padding-hold">
                    <img src="{{ RootURL }}resources/images/about/mission/mission.jpg" class="tile-large" alt="Mission">
                    <img src="{{ RootURL }}resources/images/about/mission/mission-small.jpg" class="tile-small" alt="Mission">
                </div>
            </div>
            <div class="pure-u-1-1">
                <div class="padding-hold">
                    <p>
                        Through the support of God, friends, and family, Reiser Relief seeks to accomplish the following:
                    </p>
                    <ul id="mission-list">
                        <li>
                            To provide relief, hope and dignity to the poor, elderly and homeless people of Haiti.
                        </li>
                        <li>
                            To provide relief from malnutrition and water born illness by providing food and clean water to women, children and elderly living in slums and impoverished situations.
                        </li>
                        <li>
                            To provide hope for the poorest children and orphans by funding education and housing.
                        </li>
                        <li>
                            To strive, by the Grace and Greatness of God, to be the hands and feet of Christ in serving the most vulnerable Haitians.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{{ include('about/about-footer.twig') }}
