<section>
    <div id="board">
        <div class="pure-g padding-left">
            <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 board-entry">
                <div class="image-container">
                    <img src="/resources/images/about/board/ann_brau.jpg" alt="Ann Brau">
                </div>
                <h3>
                    Ann Brau
                </h3>
                <p class="position">
                    President
                </p>
            </div>
            <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 board-entry">
                <div class="image-container">
                    <img src="/resources/images/about/board/jerry_welle.jpg" alt="Jerry Welle">
                </div>
                <h3>
                    Jerry Welle
                </h3>
                <p class="position">
                    Treasurer
                </p>
            </div>
            <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 board-entry">
                <div class="image-container">
                    <img src="/resources/images/about/board/joyce_getchell.jpg" alt="Joyce Getchell">
                </div>
                <h3>
                    Joyce Getchell
                </h3>
                <p class="position">
                    Secretary
                </p>
            </div>
            <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 board-entry">
                <div class="image-container">
                    <img src="/resources/images/about/board/brian_olson.jpg" alt="Brian Olson">
                </div>
                <h3>
                    Brian Olson
                </h3>
                <p class="position">
                    Board Member
                </p>
            </div>
            <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 board-entry">
                <div class="image-container">
                    <img src="/resources/images/about/board/bernie_maciej.jpg" alt="Bernie Maciej">
                </div>
                <h3>
                    Bernie Maciej
                </h3>
                <p class="position">
                    Board Member
                </p>
            </div>
            <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 board-entry">
                <div class="image-container">
                    <img src="/resources/images/about/board/sarah_bock.jpg" alt="Sarah Bock">
                </div>
                <h3>
                    Sarah Bock
                </h3>
                <p class="position">
                    Board Member
                </p>
            </div>
            <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 board-entry">
                <div class="image-container">
                    <img src="/resources/images/about/board/doris_schulte.jpg" alt="Doris Schulte">
                </div>
                <h3>
                    Doris Schulte
                </h3>
                <p class="position">
                    Board Member
                </p>
            </div>
            <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 board-entry">
                <div class="image-container">
                    <img src="/resources/images/about/board/james_lanigan.jpg" alt="James Lanigan">
                </div>
                <h3>
                    James Lanigan
                </h3>
                <p class="position">
                    Board Member
                </p>
            </div>
            <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3 board-entry">
                <div class="image-container">
                    <img src="/resources/images/about/board/rick_wilder.jpg" alt="Rick Wilder">
                </div>
                <h3>
                    Rick Wilder
                </h3>
                <p class="position">
                    Board Member
                </p>
            </div>
        </div>
    </div>
</section>
