<section id="mission">
    <img src="{{ RootURL }}resources/images/about/mission/mission2.jpg" alt="Mission">
    <p class="padding-left-sub-large-screen">
        Through the support of God, friends, and family, Reiser Relief seeks to accomplish the
        following:
    </p>
    <ul id="mission-list" class="padding-left-sub-large-screen">
        <li>
            To provide relief, hope and dignity to the poor, elderly and homeless people of Haiti.
        </li>
        <li>
            To provide relief from malnutrition and water born illness by providing food and clean
            water
            to women, children and elderly living in slums and impoverished situations.
        </li>
        <li>
            To provide hope for the poorest children and orphans by funding education and housing.
        </li>
        <li>
            To strive, by the Grace and Greatness of God, to be the hands and feet of Christ in
            serving
            the most vulnerable Haitians.
        </li>
    </ul>
</section>
