{{ include('header.twig') }}

<div id="about">
	{{ include('title.twig') }}
	<section id="mission-statement">
		<div class="padding-hold">
			<h1 id="mission-statement-heading">
				Providing relief, hope, and dignity to the poor, elderly, and homeless people of Haiti
			</h1>
		</div>
	</section>
	<section id="mission">
		<div class="container">
			<div class="padding-hold">
				<h2 class="about-header">
					Our Mission
				</h2>
			</div>
		</div>
	</section>
	<section id="board">
		<div class="container">
			<div class="padding-hold">
				<h2 class="about-header">
					Our Board
				</h2>
			</div>
		</div>
	</section>
	<section id="work">
		<div class="container">
			<div class="padding-hold">
				<h2 class="about-header">
					Our Work
				</h2>
			</div>
		</div>
	</section>
	<section id="founder">
		<div class="container">
			<div class="padding-hold">
				<h2 class="about-header">
					Our Founder
				</h2>
			</div>
		</div>
	</section>
	</div>
</div>

{{ include('footer.twig') }}

