{{ include('header.twig') }}

<div id="events">
	{{ include('title.twig') }}
	<section id="wheel-turning">
		<div class="container">
			<div class="padding-hold">
				<h1>
					Keep the Wheel Turning
				</h1>
			</div>
		</div>
	</section>
	<section id="max-day">
	</section>
</div>

{{ include('footer.twig') }}
