<div id="footer">
    <div class="container">
        <img src ="resources/images/logo.png" alt="Logo">
        <ul>
            <li>
                <a href="">HOME <span class="vertical-separator">|</span></a>
            </li>
            <li>
                <a href="">ABOUT <span class="vertical-separator">|</span></a>
            </li>
            <li>
                <a href="">EVENTS <span class="vertical-separator">|</span></a>
            </li>
            <li>
                <a href="">EXPERIENCE <span class="vertical-separator">|</span></a>
            </li>
            <li>
                <a href="">GIVE <span class="vertical-separator">|</span></a>
            </li>
            <li>
                <a href="">CONTACT</a>
            </li>
        </ul>
        <p>
            2017 Reiser Relief, Inc.
        </p>   
    </div>
    <div id="social">
        <div class="pure-g">
            <div class="pure-u-1-6">
                <a href="https://www.facebook.com/ReiserRelief">
                    <div class = "social-link-block">
                        <div class="social-item">
                            <div class="specific-media">
                                <p>
                                    <img src="resources/images/social/facebook.png" alt="Facebook">
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pure-u-1-6">
                <a href="https://twitter.com/reiserrelief">
                    <div class = "social-link-block">
                        <div class="social-item">
                            <div class="specific-media">
                                <p>
                                    <img src="resources/images/social/twitter.png" alt="Twitter">
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pure-u-1-6">
                <a href="https://instagram.com/reiserrelief/">
                    <div class = "social-link-block">
                        <div class="social-item">
                            <div class="specific-media">
                                <p>
                                    <img src="resources/images/social/instagram.png" alt="Instagram">
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pure-u-1-6">
                <a href="http://reiserreliefjournal.blogspot.com/">
                    <div class = "social-link-block">
                        <div class="social-item">
                            <div class="specific-media">
                                <p>
                                    <img src="resources/images/social/blog.png" alt="Blog">
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pure-u-1-6">
                <a href="http://www.youtube.com/user/reiserrelief">
                    <div class = "social-link-block">
                        <div class="social-item">
                            <div class="specific-media">
                                <p>
                                    <img src="resources/images/social/youtube.png" alt="YouTube">
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pure-u-1-6">
                <a href="#">
                    <div class = "social-link-block">
                        <div class="social-item">
                            <div class="specific-media last">
                                <p>
                                    <img src="resources/images/social/email.png" alt="Email">
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
