<div id="founder-container">
  <div class="container">
    <p id="quote">
      “You can’t walk away from misery and do nothing.”<br />
      - Father Bernard Reiser
    </p>

    <div class="row" *ngFor="let founderRow of founderRows; let even = even">
      <div class="col-xl-6" [ngClass]="{ 'order-xl-2': even }">
        <img
          [src]="
            '../../../assets/images/about/founder/' + founderRow.imageFileName
          "
        />
      </div>
      <div
        class="col-xl-6 founder-content"
        [ngClass]="{ 'order-xl-1': even }"
        [innerHTML]="founderRow.content"
      ></div>
    </div>
  </div>
</div>
