<app-page-header [title]="'Newsletters'"></app-page-header>

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Winter 2020
            </h1>
        </div>
    </div>
</section>

<iframe class="news-item" src="https://drive.google.com/file/d/1_qOh4JCan2vWrfqJkGGhQtdg5ItXKNyP/preview"></iframe>

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Fall 2020
            </h1>
        </div>
    </div>
</section>

<iframe class="news-item" src="https://drive.google.com/file/d/1all0CNfui4EPlXcU-KgTRdVeoIRVKy-m/preview"></iframe>

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Summer 2020
            </h1>
        </div>
    </div>
</section>

<iframe class="news-item" src="https://drive.google.com/file/d/1eC_KJMZciogyV7k5L-5HpSwjvfWp55hE/preview"></iframe>

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Spring 2020
            </h1>
        </div>
    </div>
</section>

<iframe class="news-item" src="https://drive.google.com/file/d/1S4bR1WxuQQy6PtlU49BLbbawg0D28M7r/preview"></iframe>

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Winter 2019
            </h1>
        </div>
    </div>
</section>

<iframe class="news-item" src="https://drive.google.com/file/d/1NRbVQbX5YvVFuxzGfhpWuwbDctgykpPn/preview"></iframe>

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Fall 2019
            </h1>
        </div>
    </div>
</section>

<iframe class="news-item" src="https://drive.google.com/file/d/0B4h85lDDR6KkNHNyajlIM0w5aXQ5NEMtaU5FejJYSkZ5Zmc0/preview"></iframe>

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Summer 2019
            </h1>
        </div>
    </div>
</section>

<iframe class="news-item" src="https://drive.google.com/file/d/1_Jo8CwyuD__SbqGRf48rbdFyJZvc2pnT/preview"></iframe>

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Spring 2019
            </h1>
        </div>
    </div>
</section>

<iframe class="news-item" src="https://drive.google.com/file/d/0B4h85lDDR6KkZndMMUZycFV5YTcxQUhzYzR4S25jckRvUVFn/preview"></iframe>

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Winter 2018
            </h1>
        </div>
    </div>
</section>

<iframe class="news-item" src="https://drive.google.com/file/d/0B4h85lDDR6KkYi1wakZ1WDF2QlM3bEcxVlFUN0FSc09Hdm5N/preview"></iframe>

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Summer 2018
            </h1>
        </div>
    </div>
</section>


<iframe class="news-item" src="https://drive.google.com/file/d/1DSAv3kQIbUKIAk-uPFQHheA14u0v7bau/preview" width="640" height="480"></iframe>
