@import '../../shared/globals';

#wrapper {
  margin-top: 4em;
  background: $dark-theme-color;
  color: $white;
  text-align: center;
  display: table;
  width: 100%;
  height: 15em;
}

#wrapper-container {
  width: 100%;
  max-width: 29em;
  margin: 0 auto;
  padding: 0.5em 0;

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    max-width: 57em;
  }
}

#content {
  display: table-cell;
  vertical-align: middle;
}

#input-fields{
  margin-top:  1em;
}

p {
  margin-top: 1em !important;
  color: $white;
}

input, button {
  height: 2.5em;
  border-radius: 4px;
  border: none;
}

input {
  line-height: 2.5em;
  width: 100%;
  margin-bottom: 0.5em !important;
  padding-left: 10px !important;

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    margin-bottom: 0 !important;
  }
}

button {
  display: block;
  width: 100%;
  margin: 0 auto !important;
  background: $light-theme-color;
  color: $white;
  border: 0;

  &:hover {
    color: $dark-theme-color;
  }
}

#error-message {
  color: $error-red;
  height: 24px;
}
