<div id="wrapper">
  <div id="content" class="container">
    <div id="wrapper-container">
      <h3>Subscribe</h3>
      <p>Sign up with your email address to receive news and updates.</p>
      <div id="input-fields" class="row">
        <div class="col-md">
          <input type="text" placeholder="First Name" name="first-name" />
        </div>
        <div class="col-md">
          <input type="text" placeholder="Last Name" name="last-name" />
        </div>
        <div class="col-md">
          <input type="text" placeholder="Email Address" name="email" />
        </div>
        <div class="col-md">
          <button>Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
