<header>
  <div class="container">
    <div class="row no-gutters">
      <div class="col">
        <a [routerLink]="'/'" (click)="hideMenu()">
          <img
            src="../../../assets/images/logo.png"
            alt="Reiser Relief Logo"
            class="mx-auto"
          />
        </a>
      </div>
      <div class="col" id="menu-items-container">
        <ul id="menu-items">
          <li *ngFor="let menuItem of menuItems">
            <a [routerLink]="menuItemAsRoute(menuItem)">{{ menuItem }}</a>
          </li>
        </ul>

        <p id="hamburger" (click)="mobileMenuActionClick()">
          <i [ngClass]="mobileIconClass"></i>
        </p>
      </div>
    </div>
  </div>

  <div id="mobile-menu" [hidden]="!mobileMenuActionClicked">
    <ul>
      <li *ngFor="let menuItem of menuItems">
        <a [routerLink]="menuItemAsRoute(menuItem)" (click)="hideMenu()">{{
          menuItem
        }}</a>
      </li>
    </ul>
  </div>
</header>
