<div id="header-container">
  <div class="container">

    <div class="row no-gutters">

      <div class="col-md" id="logo-column">
        <img src="../../../assets/images/logo.png" alt="Reiser Relief Logo" class="mx-auto"/>
      </div>

      <div class="col-md">
        <ul class="list-inline">
          <li class="list-inline-item">Home</li>
          <li class="list-inline-item">About</li>
          <li class="list-inline-item">Missions</li>
          <li class="list-inline-item">Donate</li>
          <li class="list-inline-item">Events</li>
          <li class="list-inline-item">Contact</li>
        </ul>
      </div>

    </div>

  </div>
</div>
