@import '../globals';

$header-padding: 0.5em;
$header-desktop-height: 5em;
$logo-height: 3.125em;

#header-container {
  padding: $header-padding 0;
  background: $dark-theme-color;
  color: $white;

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    height: $header-desktop-height;
    line-height: $header-desktop-height - ($header-padding * 2);
  }
}

img {
  display: block;

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    margin-top: ($header-desktop-height - $logo-height)/4;
  }
}

#logo-column {
  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    flex: 0 0 245px;
  }
}

ul {
  text-align: center;
  margin-top: 1em !important;

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    margin-top: 0 !important;
    text-align: right;
  }
}

li {
  margin-right: 0.5rem !important;
  cursor: pointer;

  &:hover {
    color: $light-theme-color;
  }

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    margin: 0 !important;
    padding-left: 1em !important;
  }

  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    padding-left: 2em !important;
  }
}
