<div id="header-container">
  <div id="header-content">
    <div id="hamburger" (click)="hamburgerClick()" *ngIf="!showSideMenu">
      <i class="fas fa-bars"></i>
    </div>

  <div class="container">
      <div class="row no-gutters">

        <div class="col-md" id="logo-column">
          <a href="/"><img src="../../../assets/images/logo.png" alt="Reiser Relief Logo" class="mx-auto"/></a>
        </div>

        <div class="col-md">
          <ul class="list-inline">
            <li class="list-inline-item" *ngFor="let menuItem of menuItems" [innerText]="menuItem"></li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</div>

<div id="mobile-side-bar" *ngIf="showSideMenu">
  <p id="close"><i class="fas fa-times" (click)="closeClick()"></i></p>
  <ul class="list-inline">
    <li *ngFor="let menuItem of menuItems" [innerText]="menuItem"></li>
  </ul>
</div>
