@import '../../shared/globals';

#news-posts-wrapper {

}

.single-post {
  margin-bottom: 1.5em;
}

h4 {
  color: $dark-theme-color;
}

.date {
  color: $gray-theme-color;
}

::ng-deep a {
  color: $dark-theme-color;

  &:hover {
    color: $dark-theme-color;
  }
}
