<div class="row">
  <div class="col-xl-6 order-xl-1">
    <img
      src="../../../assets/images/missions/trip-1.jpg"
      alt="Reiser Relief Mission Trip"
    />
  </div>
  <div class="col-xl-6 order-xl-2">
    <h3>Make a Difference</h3>
    <p>
      Our mission trips make a real, tangible difference in the lives of those
      we serve. The objective of each trip varies based on the needs of our
      ministries and mission partners in Haiti. We work at schools, orphanages,
      homes for the elderly and disabled, and hospitals. Most importantly, we
      share the Gospel by being Christ’s hands and feet through our service to
      the poorest of the poor.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 order-xl-2">
    <img
      src="../../../assets/images/missions/trip-2.jpg"
      alt="Reiser Relief Mission Trip"
    />
  </div>
  <div class="col-xl-6 order-xl-1">
    <h3>Leave Your Comfort Zone</h3>
    <p>
      Mission work is intense. You will be required to leave the comfort of your
      everyday life and embrace unfamiliar places and situations. The experience
      will challenge your worldview and cause you to examine your heart and
      priorities. At the same time, you will learn from Haiti’s vast history and
      beautiful culture. You will discover that the mission week is a period of
      enormous personal growth and development.
    </p>
  </div>
</div>
