<div class="sub-section">
  <div class="row">
    <div class="col-xl-6 order-xl-1">
      <img
        src="../../../assets/images/missions/trip-1.jpg"
        alt="Reiser Relief Mission Trip"
      />
    </div>
    <div class="col-xl-6 order-xl-2">
      <h3>Make a Difference</h3>
      <p>
        Our mission trips make a real, tangible difference in the lives of those
        we serve. The objective of each trip varies based on the needs of our
        ministries and mission partners in Haiti. We work at schools,
        orphanages, homes for the elderly and disabled, and hospitals. Most
        importantly, we share the Gospel by being Christ's hands and feet
        through our service to the poorest of the poor.
      </p>
    </div>
  </div>
</div>

<div class="sub-section">
  <div class="row">
    <div class="col-xl-6 order-xl-2">
      <img
        src="../../../assets/images/missions/trip-2.jpg"
        alt="Reiser Relief Mission Trip"
      />
    </div>
    <div class="col-xl-6 order-xl-1">
      <h3>Leave Your Comfort Zone</h3>
      <p>
        Mission work is intense. You will be required to leave the comfort of
        your everyday life and embrace unfamiliar places and situations. The
        experience will challenge your worldview and cause you to examine your
        heart and priorities. At the same time, you will learn from Haiti's vast
        history and beautiful culture. You will discover that the mission week
        is a period of enormous personal growth and development.
      </p>
    </div>
  </div>
</div>

<h3>Additional Information</h3>
<div class="sub-section">
  <div class="row">
    <div class="col-lg">
      <h4>Cost</h4>
      <p>
        $875 (Unless otherwise noted), which includes:<br />

        <span class="indent">
          $125 deposit<br />
          Lodging and security<br />
          Breakfast and dinner daily<br />
          Safe drinking water<br />
          Transportation to/from airport and mission sites<br />
          1 Mission t-shirt (unless otherwise noted)<br />
        </span>

        Other expenses/US:<br />

        <span class="indent">
          You purchase your own airline ticket. You can check ticket prices by
          searching for flights from your airport to Port au<br />
          Prince (PAP)<br />
          $29 travel insurance<br />
          Group snacks for lunch (purchased in the US and brought to Haiti)<br />
          Passport<br />
          Vaccinations<br />
        </span>

        Other expenses/Haiti:<br />
        <span class="indent">
          $10 Haiti entrance tax<br />
          Souvenirs<br />
        </span>
      </p>
    </div>
    <div class="col-lg">
      <h4>Service and Cultural Experiences</h4>
      <p>
        - Delivering clean water in Cite Soleil<br />
        - Serving at a home for sick and dying babies<br />
        - Caring for elderly at the Village of Jesus in Leogane or Sacred Heart
        home for the elderly in Port au Prince<br />
        - Caring for disabled children and adults at the Missionaries of the
        Poor<br />
        - Visiting children and young adults at Reiser Heights, Terre Promise,
        Guardian Angels, and Delmas Professional Trade School<br />
        - Haiti History Museum<br />
        - Learning about sustainable farming at Bethlehem Farm in Leogane<br />
        - Visiting Haitian start-up businesses<br />
        - Churches<br />
        - Beaches
      </p>
    </div>
  </div>
    <p id="blog-posts"><a href="https://reiserreliefjournal.blogspot.com/" target="_blank">Read blog posts from our mission trips here!</a></p>
</div>
