<swiper>
  <div>
    <div class="row no-gutters">
      <div class="col-8">
        <img src="../../../assets/images/experience-slide.jpg" alt="">
      </div>
      <div class="col slide-content">
        <div class="slide-content-wrapper">
          <h1>Mission Trips</h1>
          <p>Our mission trips make a real, tangible difference in the lives of those we serve.  Live out God's call to serve by applying for a mission trip to Haiti.</p>
          <button>Apply Now</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row no-gutters">
      <div class="col-8">
        <img src="../../../assets/images/experience-slide.jpg" alt="">
      </div>
      <div class="col slide-content">
        <div class="slide-content-wrapper">
          <h1>Mission Trips</h1>
          <p>Our mission trips make a real, tangible difference in the lives of those we serve.  Live out God's call to serve by applying for a mission trip to Haiti.</p>
          <button>Apply Now</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row no-gutters">
      <div class="col-8">
        <img src="../../../assets/images/experience-slide.jpg" alt="">
      </div>
      <div class="col slide-content">
        <div class="slide-content-wrapper">
          <h1>Mission Trips</h1>
          <p>Our mission trips make a real, tangible difference in the lives of those we serve.  Live out God's call to serve by applying for a mission trip to Haiti.</p>
          <button>Apply Now</button>
        </div>
      </div>
    </div>
  </div>
</swiper>
