<swiper>
  <div *ngFor="let slide of homeSlides">
    <div class="row no-gutters">
      <div class="col-lg-8">
        <img
          [src]="
            '../../assets/images/home-page-slide-show/' + slide.imageFileName
          "
          [alt]="slide.altText"
        />
      </div>
      <div class="col-lg-4 slide-content">
        <div class="slide-content-wrapper">
          <div class="table-wrapper">
            <h1 [innerText]="slide.title"></h1>
            <p [innerText]="slide.content"></p>
            <button
              [routerLink]="slide.routerLink"
              [innerText]="slide.buttonText"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</swiper>
