<div class="container">
  <div class="row event-entry">
    <div class="col calendar-date">
      <p class="event-heading">Sep</p>
      <p class="date">15</p>
      <p class="event-heading">2019</p>
    </div>
    <div class="col">
      <h4>Give to the Max Day</h4>
      <p>
        Minneapolis Marriot Northwest<br />
        7025 Northland Dr N<br />
        Brooklyn Park, MN
      </p>
      <p><a href="#">Learn More</a></p>
    </div>
  </div>
  <div class="row event-entry">
    <div class="col calendar-date">
      <p class="event-heading">January</p>
      <p class="date">01</p>
      <p class="event-heading">2020</p>
    </div>
    <div class="col">
      <h4>Winter Mission Trip</h4>
      <p>
        Port Au Prince, Haiti
      </p>
      <p><a href="#">Learn More</a></p>
    </div>
  </div>
</div>
