@import '../../shared/globals';

.event-entry {
  margin-bottom: 1em;
}

.event-heading {
  text-align: center;
  color: $gray-theme-color;
}

.calendar-date {
  flex: 0 0 91px;
}

.date {
  $date-height: 66px;
  background-image: url("../../../assets/images/home/calendar.png");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: $date-height;
  padding-top: 28px !important;
}

h4, p {
  margin-bottom: 0.5em !important;

  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    text-align: center;
  }
}
