<div class="container">
  <div class="row no-gutters event-entry" *ngFor="let event of eventsAndTrips">
    <div class="col calendar-date">
      <p class="event-heading" [innerText]="event.date | date: 'MMM'"></p>
      <p class="date" [innerText]="event.date | date: 'dd'"></p>
      <p class="event-heading" [innerText]="event.date | date: 'y'"></p>
    </div>
    <div class="col">
      <h4 [innerText]="event.title"></h4>
      <p [innerHTML]="event.location"></p>
      <p><a [href]="event.url" target="_blank">Learn More</a></p>
    </div>
  </div>
</div>
