{{ include('donate/donate-header.twig') }}

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                "Whatever you do for the least of these, you do to me." <br>- Matthew 25:40
            </h1>
            <p id="page-info-details">
                Your donation will provide clean water, food, education and care to the poor in Haiti.<br>
                Reiser Relief Inc. is a 501(c)(3) ministry. Donations are tax exempt as allowed by law.
            </p>
        </div>
    </div>
</section>

<section>
    <div id="donate-funds">
        <div class="container">
            <div class="padding-hold">
                <h2 class="page-section-header">
                    Give Today
                </h2>
                <iframe
                        src="https://www.youtube.com/embed/JR0DUX1ItSw" frameborder="0" allowfullscreen>
                </iframe>
                <div id="donation-container">
                    <div id="first-step">
                        <div id="donation-form">
                            <p>Choose Your Donation Frequency</p>
                            <ul id="frequency-list">
                                <li class="active">One-Time</li>
                                <li>Monthly</li>
                                <li>Quarterly</li>
                                <li>Annually</li>
                            </ul>
                            <p>Choose a Donation Level</p>
                            <ul class="donation-level active" id="one-time-level">
                                <li>$100</li>
                                <li>$250</li>
                                <li>$500</li>
                                <li>$1000</li>
                                <li>$2000</li>
                            </ul>
                            <ul class="donation-level" id="monthly-level">
                                <li>$40</li>
                                <li>$75</li>
                                <li>$100</li>
                                <li>$150</li>
                                <li>$250</li>
                            </ul>
                            <ul class="donation-level" id="quarterly-level">
                                <li>$150</li>
                                <li>$250</li>
                                <li>$500</li>
                                <li>$750</li>
                                <li>$1000</li>
                            </ul>
                            <ul class="donation-level" id="annually-level">
                                <li>$250</li>
                                <li>$500</li>
                                <li>$750</li>
                                <li>$1000</li>
                                <li>$3000</li>
                            </ul>

                            <p>Or Enter Your Own Amount</p>
                            <input type="text" class="pure-input" id="custom-amount">

                            <button type="submit" class="pure-button" id="continue">Continue</button>
                            <p id="donation-value-info">
                                $40/month will support one primary student for an entire year<br>
                                $150/month will support one college student for an entire year<br>
                                <span>Sponsors will be able to exchange letters with a primary and/or college student</span>
                            </p>
                            <p class="error">Please Select a Donation Level or Enter a Custom Amount</p>
                        </div>
                    </div>
                    <div id="second-step">
                        <h3><strong>Review</strong></h3>
                        <div class="pure-g">
                            <div class="pure-u-1-1 pure-u-md-1-2">
                                <p id="donation-frequency-review"></p>
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-2">
                                <p id="donation-amount-review"></p>
                            </div>
                        </div>
                        <h3><strong>Additional Payment Info</strong></h3>
                        <p>Address</p>
                        <div class="pure-g">
                            <div class="pure-u-1-1">
                                <input type="text" class="pure-input full-width" id="cardholder-address-1"
                                       placeholder="Address Line 1">
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-1">
                                <input type="text" class="pure-input full-width" id="cardholder-address-2"
                                       placeholder="Address Line 2">
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-1 pure-u-md-1-3">
                                <input type="text" class="pure-input" id="cardholder-city" placeholder="City">
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-3">
                                <select class='pure-input' id="cardholder-state" class="pure-u-23-24" name="state">
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN" selected>Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-3">
                                <input type="text" class="pure-input" id="cardholder-zip" placeholder="Zip">
                            </div>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1-1 pure-u-md-1-2 subsection">
                                <p>Full Name</p>
                                <input type="text" class="pure-input" id="cardholder-name">
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-2 subsection">
                                <p>Email Address</p>
                                <input type="text" class="pure-input" id="cardholder-email">
                            </div>
                        </div>
                        <form action="/donation-submit" method="post" id="payment-form">
                            <div class="form-row">
                                <label for="card-element">
                                    Credit or debit card
                                </label>
                                <div id="card-element">
                                    <!-- A Stripe Element will be inserted here. -->
                                </div>

                                <!-- Used to display form errors. -->
                                <div id="card-errors" role="alert"></div>
                            </div>
                        </form>
                        <div id="button-container">
                            <button class="pure-button" id="donate-back">Go Back</button>
                            <button class="pure-button" id="donate-submit">Submit Payment</button>
                        </div>
                    </div>
                    <div id="donation-loading">
                        <img src="/resources/images/common/loading-icon.gif" alt="Loading">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="donate-other">
        <div class="container">
            <div class="padding-hold">
                <h2 class="page-section-header">
                    Other Ways to Give
                </h2>
                <div id="give-mn">
                    <div class="pure-g">
                        <div class="pure-u-1-1 pure-u-md-1-2">
                            <a href="https://givemn.org/organization/Reiser-Relief" target="_blank"><img
                                        src="/resources/images/donate/give-mn.png" alt="GiveMN"></a>
                            <p><a href="https://givemn.org/organization/Reiser-Relief" class="plain-link"
                                  target="_blank">
                                    Visit GiveMN here
                                </a>
                            </p>
                        </div>
                        <div class="pure-u-1-1 pure-u-md-1-2">
                            <img src="/resources/images/donate/paypal.png" alt="PayPal" class="paypal-link">
                            <p><a class="plain-link paypal-link"
                                  target="_blank">
                                    Visit PayPal here
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1-1 pure-u-md-1-2">
                        <h3 class="other-heading"><strong>By Mail</strong></h3>
                        <p>
                            Make checks payable to “Reiser Relief” and mail to: <br>
                            Reiser Relief Inc. <br>
                            PO Box 48096 <br>
                            Coon Rapids, MN 55448 <br>
                        </p>
                    </div>
                    <div class="pure-u-1-1 pure-u-md-1-2">
                        <h3 class="other-heading"><strong>Corporate Matching Grants</strong></h3>
                        <p>
                            Many companies support employee philanthropy by offering matching gift programs. Please
                            check with your HR
                            department to see if your employer will match your gift to Reiser Relief Inc.<br>
                            Reiser Relief Inc. Federal Tax ID EIN: 87-0778133
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ include('donate/donate-footer.twig') }}
