{{ include('donate/donate-header.twig') }}

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                {{ Message }}
            </h1>
            <p class="return-home">
                <a href="/" class="plain-link">Return to home page.</a>
            </p>
        </div>
    </div>
</section>

{{ include('donate/donate-footer.twig') }}
