{{ include('donate/donate-header.twig') }}

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Support those in need.
            </h1>
            <p id="page-info-details">
                Your donation will provide clean water, food, education and care to the poor in Haiti.<br>
                Reiser Relief Inc. is a 501(c)(3) ministry. Donations are tax exempt as allowed by law.
            </p>
        </div>
    </div>
</section>

<section>
    <div id="donate-funds">
        <div class="container">
            <div class="padding-hold">
                <h2 class="page-section-header">
                    Donate Today
                </h2>
                <iframe
                        src="https://www.youtube.com/embed/JR0DUX1ItSw" frameborder="0" allowfullscreen>
                </iframe>
                <div id="donation-container">
                    <div id="first-step">
                        <div id="donation-form">
                            <p>Choose Your Donation Frequency</p>
                            <ul id="frequency-list">
                                <li class="active">One-Time</li>
                                <li>Monthly</li>
                                <li>Quarterly</li>
                                <li>Annually</li>
                            </ul>
                            <p>Choose a Donation Level</p>
                            <ul class="donation-level active" id="one-time-level">
                                <li>$100</li>
                                <li>$150</li>
                                <li>$250</li>
                                <li>$500</li>
                                <li>$1000</li>
                            </ul>
                            <ul class="donation-level" id="monthly-level">
                                <li>$37</li>
                                <li>$50</li>
                                <li>$83</li>
                                <li>$125</li>
                                <li>$250</li>
                            </ul>
                            <ul class="donation-level" id="quarterly-level">
                                <li>$150</li>
                                <li>$250</li>
                                <li>$500</li>
                                <li>$750</li>
                                <li>$1000</li>
                            </ul>
                            <ul class="donation-level" id="annually-level">
                                <li>$250</li>
                                <li>$500</li>
                                <li>$750</li>
                                <li>$1000</li>
                                <li>$3000</li>
                            </ul>

                            <p>Or Enter Your Own Amount</p>
                            <input type="text" class="pure-input" id="custom-amount">

                            <button type="submit" class="pure-button" id="continue">Continue</button>
                            <p class="error">Please Select a Donation Level or Enter a Custom Amount</p>
                        </div>
                    </div>
                    <div id="second-step">
                        <div class="pure-g">
                            <div class="pure-u-1-2">
                                <p>Full Name</p>
                                <input type="text" class="pure-input" id="cardholder-name">
                            </div>
                            <div class="pure-u-1-2">
                                <p>Email Address</p>
                                <input type="text" class="pure-input" id="cardholder-email">
                            </div>
                        </div>
                        <form action="/charge" method="post" id="payment-form">
                            <div class="form-row">
                                <label for="card-element">
                                    Credit or debit card
                                </label>
                                <div id="card-element">
                                    <!-- A Stripe Element will be inserted here. -->
                                </div>

                                <!-- Used to display form errors. -->
                                <div id="card-errors" role="alert"></div>
                            </div>

                            <button class="pure-button">Submit Payment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="donate-recurring">
        <div class="container">
            <div class="padding-hold">
                <h2 class="page-section-header">
                    Recurring Donations
                </h2>
                <div class="pure-g">
                    <div class="pure-u-1-1">
                        <a href="https://givemn.org/organization/Reiser-Relief" target="_blank"><img
                                    src="/resources/images/donate/give-mn.png" alt="GiveMN"></a>
                        <p>
                            Donate online to Reiser Relief with GiveMN, which allows for scheduled monthly or yearly
                            donations.
                        </p>
                        <p><a href="https://givemn.org/organization/Reiser-Relief" class="plain-link" target="_blank">
                                Visit GiveMN here.
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="donate-other">
        <div class="container">
            <div class="padding-hold">
                <h2 class="page-section-header">
                    Other Ways to Give
                </h2>
                <div class="pure-g">
                    <div class="pure-u-1-1">
                        <h3 class="other-heading first"><strong>By Mail</strong></h3>
                        <p>
                            Make checks payable to “Reiser Relief” and mail to: <br>
                            Reiser Relief Inc. <br>
                            PO Box 48096 <br>
                            Coon Rapids, MN 55448 <br>
                        </p>
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1-1">
                        <h3 class="other-heading"><strong>Corporate Matching Grants</strong></h3>
                        <p>
                            Many companies support employee philanthropy by offering matching gift programs.  Please check with your HR
                            department to see if your employer will match your gift to Reiser Relief Inc.<br>
                            Reiser Relief Inc. Federal Tax ID EIN: 87-0778133
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ include('donate/donate-footer.twig') }}
