@import '../../shared/globals';

#board-members-container {
  margin: 1em 0 2em 0;
}

#member-selection {
  text-align: center;
  color: $gray-theme-color;
  margin-bottom: 2em !important;
}

.board-member {
  margin-bottom: 4em !important;

  &:nth-last-child(-n+1) {
    margin-bottom: 0 !important;
  }

  @media only screen and (min-width: map-get($grid-breakpoints, md)) {
    &:nth-last-child(-n+3) {
      margin-bottom: 0 !important;
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    &:nth-last-child(-n+4) {
      margin-bottom: 0 !important;
    }
  }
}

.selectable-content {
  cursor: pointer;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  margin-bottom: 1em;
}

h3, p {
  text-align: center;
}

h3 {
  color: $dark-theme-color;
}

.position {
  color: $gray-theme-color;
}

.email {
  margin-top: 0.5em !important;

  a {
    color: $dark-theme-color;
    text-decoration: underline;
  }
}

::ng-deep .swal2-popup {
  width: 95%;
  display: flex;
  max-width: 800px;
}

::ng-deep button.swal2-confirm {
$height: 45px;
  padding: 0;
  height: 45px;
  border-radius: 4px !important;
  border: none !important;
  background: $light-theme-color !important;
  width: 100px;
  line-height: $height;

  &:hover {
    background: $dark-theme-color !important;
  }
}

.details-head-shot {
  img {
    margin: 0 auto;
  }

  @media only screen and (min-width: map-get($grid-breakpoints, sm)) {
    flex: 0 0 275px;
    padding: 0;
  }
}

.details-info {
  h3, p {
    @media only screen and (min-width: map-get($grid-breakpoints, sm)) {
      text-align: left !important;
    }
  }
}

.description {
  text-align: left;
  margin-top: 1em !important;
}
