<div id="core-values-wrapper">
  <div class="container">
    <h3>Core Values</h3>
    <div class="row">
      <div
        class="col-xl-4 col-lg-6 core-value-card"
        *ngFor="let coreValue of coreValues"
      >
        <div class="core-value-card-wrapper" [routerLink]="'/about'">
          <img
            [src]="
              '../../../assets/images/home-page-core-values/' +
              coreValue.imageFileName
            "
            [alt]="coreValue.altText"
          />
          <div class="overlay"></div>
          <p class="overlay-text" [innerText]="coreValue.title"></p>
        </div>
      </div>
    </div>
  </div>
</div>
