@import '../../shared/globals';

#core-values {
}

.home-core-value {
  width: 250px;
  border-radius: 1em;
}

img {
  display: block;
  margin: 0 auto;
}

h3, h2 {
  text-align: center;
}

h3 {
  margin-bottom: 1em !important;
}

h2 {
  font-size: 1.25em;
  margin-top: 0.5em !important;
}

a {
  text-decoration: none;
  color: #000;
}
