<div id="core-values-wrapper">
  <div class="container">
    <h2>Core Values</h2>
    <div class="row">
      <div
        class="col-xl-4 col-lg-6 core-value-card"
        *ngFor="let coreValue of coreValues"
      >
        <div class="core-value-card-wrapper" [routerLink]="'/about'">
          <img
            [src]="
              '../../../assets/images/home-page-core-values/' +
              coreValue.imageFileName
            "
            [alt]="coreValue.altText"
          />
          <div class="card-content">
            <h3 [innerText]="coreValue.title"></h3>
            <div class="horizontal-rule">
              <div class="horizontal-rule-line"></div>
            </div>
            <p [innerText]="coreValue.description"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
