{{ include('contact/contact-header.twig') }}

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Thank you for reaching out to us. A team member will be in touch with you shortly.
            </h1>
            <p class="return-home">
                <a href="/" class="plain-link">Return to home page.</a>
            </p>
        </div>
    </div>
</section>

{{ include('contact/contact-footer.twig') }}
