{{ include('contact/contact-header.twig') }}

<section id="page-info">
    <div class="padding-hold">
        <h1 id="page-info-heading">
            Get in touch with us.
        </h1>
        <p id="page-info-details">
            We would love to hear from you about anything from volunteering to general questions and concerns.
        </p>
    </div>
</section>

<section id="contact-form"></section>

{{ include('contact/contact-footer.twig') }}
