@import "globals.less";

#about {
  img {
    margin: 0 auto;
  }

  h3 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 15px;
  }

  #mission {
    #mission-list {
      margin-left: 0;
      padding-left: 0;
      li {
        padding-left: 1em;
        text-indent: -1em;
        padding-bottom: 10px;

        &:before {
          content: "-";
          padding-right: 5px;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    img {
      width: 250px;
    }
  }

  #work {
    .work-item {
      margin-bottom: 25px;
      border-bottom: 1px solid @separator-color;

      &.last {
        border-bottom: none;
        margin-bottom: none;
      }

      img {
        width: 518px;
      }
    }
  }

  #board {
    .board-entry {
      padding-bottom: 10px;

      .padding-right-sub-large-screen {
        @media only screen and (max-width: 768px) {
          padding-right: 0;
        }
      }

      .image-container {
        padding-bottom: 10px;
        padding-right: 15px;

        img {
          margin: 0 auto;
          padding: 0;
          float: none;
        }
      }

      h3 {
        text-align: center;
        padding-bottom: 0;
      }

      .position {
        color: @gray;
        text-align: center;
      }
    }
  }

  #founder {

  }
}

