@import "globals.less";

#about {
  img {
    margin: 0 auto;
  }

  h3 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 15px;
  }

  li {
    &#active {
      background: @light-theme-color;
    }
  }

  #work {
    .work-item {
      margin-bottom: 25px;
      border-bottom: 1px solid @separator-color;
      min-height: 410px;

      &:first-of-type {
        border-top: 1px solid @separator-color;
      }

      &.last {
        border-bottom: none;
        margin-bottom: 0;
      }

      img {
        width: 518px;
      }
    }
  }

  #board-members {
    .board-entry {
      margin-bottom: 50px;

      img {
        float: none;
        padding: 0;
        margin: 0;

        @media @medium-screen {
          margin: 0 auto;
        }
      }

      .member-info {
        @media @medium-screen {
          padding: 0;
        }

        h3, p {
          text-align: left;
          padding: 0;

          @media @medium-screen {
            text-align: center;
          }
        }

        .position {
          color: @gray;
        }

        .bio {
          margin-top: 10px;
        }
      }
    }
  }

  #founder {
    #quote {
      text-align: center;
      font-style: italic;
      color: @gray;
    }

    #additional-founder-content {
      margin-top: @large-top-margin;

      h2 {
        text-align: center;
        padding-bottom: 15px;
      }

      img {
        margin: 0 auto;
        float: none;
        padding: 0;
      }

      p {
        text-align: center;
      }

      .founder-sub-section {
        margin-top: @small-top-margin;

        span {
          font-style: italic;
        }
      }
    }
  }
}
