@import "globals.less";

#donate {
  .page-section-header {
    text-align: center;
  }

  button {
    display: block;
    margin: @small-top-margin auto 0;
  }

  #donate-funds {
    #donation-container {
      height: 550px;

      text-align: center;

      p, label {
        color: @gray;

        &#donation-value-info {
          font-size: 14px;
          line-height: 24px;
          margin-top: 15px;
        }
      }

      ul {
        margin: 0 auto @large-top-margin;

        li {
          display: inline-block;
          border: 1px solid @light-theme-color;
          border-radius: 5px;
          color: @light-theme-color;
          cursor: pointer;
          margin-left: 5px;
          margin-bottom: 10px;

          &:first-of-type {
            margin-left: 0;
          }

          &.active, &:hover {
            background: @light-theme-color;
            color: @white;
          }
        }

        &#frequency-list {
          li {
            @item-height: 35px;
            height: @item-height;
            width: 90px;
            line-height: @item-height;
          }
        }

        &.donation-level {
          li {
            @item-height: 55px;
            height: @item-height;
            width: 120px;
            line-height: @item-height;
          }
        }
      }

      .donation-level {
        display: none;

        &.active {
          display: block;
        }
      }

      .error {
        visibility: hidden;
        color: @dark-error-color;
        text-align: center;
        margin-top: 10px;
      }
    }
  }

  #donate-other {
    margin-top: @sub-section-top-margin;
    text-align: center;

    img {
      margin: 0 auto;
    }

    .other-heading {
      text-align: center;
      padding-bottom: @small-top-margin;
      margin-top: @small-top-margin;

      &.first {
        margin-top: 0;
      }
    }
  }

  #first-step {
    display: block;
  }

  #second-step {
    display: none;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;

    input {
      width: 95%;
    }
  }

  form {
    margin-top: @small-top-margin;

    .StripeElement {
      background-color: white;
      padding: 10px 12px;
      border-radius: 4px;
      border: 1px solid transparent;
      box-shadow: 0 1px 3px 0 #e6ebf1;
      -webkit-transition: box-shadow 150ms ease;
      transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
      box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
      border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
      background-color: #fefde5 !important;
    }
  }

  #button-container {
    text-align: center;

    button {
      display: inline-block;
    }
  }

  #donation-loading {
    display: none;
    img {
      display: block;
      margin: @large-top-margin auto 0;
    }
  }

  input {
    height: 42px;
    margin: .25em 0;
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
  }

  h3 {
    margin-top: @small-top-margin;
  }
}
