@import "globals.less";

#events {
  .page-section-header {
    @header-height: 57px;
    background: @dark-theme-color;
    padding: 0 0 0 10px;
    margin-bottom: 20px;
    min-height: @header-height;
    cursor: pointer;

    &:hover {
      h2 {
        text-decoration: underline;
      }
    }

    @media only screen and (max-width: 250px) {
      h2 {
        text-decoration: underline;
      }
    }

    h2 {
      width: 100%;
      max-width: 230px;
      line-height: @header-height;
      color: @white;
      font-size: 25px;

      .arrow {
        padding: 0;
        margin: 0;
        float: right;

        @media only screen and (max-width: 250px) {
          visibility: hidden;
        }

        &.right-arrow {
          width: 12px;
          margin-top: (@header-height - image-height('../images/common/arrows/right-arrow-white-large.png')) / 2;
          margin-right: image-width('../images/common/arrows/down-arrow-white-large.png') / 2;

          &.first-event {
            display: none;
          }
        }

        &.down-arrow {
          width: 22px;
          display: none;
          margin-top: (@header-height - image-height('../images/common/arrows/down-arrow-white-large.png')) / 2;

          &.first-event {
            display: block;
          }
        }
      }
    }
  }

  .event-content {
    display: none;

    &.first-event {
      display: block;
    }

    #purchase {
      text-align: center;
      margin-top: 40px;
      margin-bottom: @large-top-margin;
    }

    img {
      float: none !important;
      padding: 0 !important;
      margin: 0 auto;
    }

    h3 {
      text-align: center;
      font-weight: bolder;
      margin: @small-top-margin 0;
    }
  }

  #current-content {
    p {
      text-align: center;
    }
  }

  .italics {
    font-style: italic;
    text-align: center;
  }

  ul {
    list-style: disc;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.purchase-link {
  text-decoration: underline;
  cursor: pointer;
}

#italics {
  font-style: italic;
}

#temp-message {
  margin: 2em 0 !important;
  text-align: center;
  font-weight: normal;
}


.page-section-header {
  text-align: center;
}

button {
  display: block !important;
  margin: @small-top-margin auto 0 !important;
}

  #donation-container {
    min-height: 550px;

    text-align: center;

    p, label {
      color: @gray;

      &#donation-value-info {
        font-size: 14px;
        line-height: 24px;
        margin-top: 15px;

        span {
          font-style: italic;
        }
      }
    }

    ul {
      margin: 0 auto @large-top-margin;

      li {
        display: inline-block;
        border: 1px solid @light-theme-color;
        border-radius: 5px;
        color: @light-theme-color;
        cursor: pointer;
        margin-left: 5px;
        margin-bottom: 10px;

        &:first-of-type {
          margin-left: 0;
        }

        &.active, &:hover {
          background: @light-theme-color;
          color: @white;
        }
      }

      &#frequency-list {
        li {
          @item-height: 35px;
          height: @item-height;
          width: 90px;
          line-height: @item-height;
        }
      }

      &.donation-level {
        li {
          @item-height: 55px;
          height: @item-height;
          width: 120px;
          line-height: @item-height;
        }
      }
    }

    .donation-level {
      display: none;

      &.active {
        display: block;
      }
    }

    .error {
      visibility: hidden;
      color: @dark-error-color;
      text-align: center;
      margin-top: 10px;
    }
  }

#donate-other {
  margin-top: @small-top-margin;
  text-align: center;

  img {
    margin: 0 auto;
  }

  #give-mn {
    margin-bottom: @small-top-margin;
  }

  .other-heading {
    text-align: center;
    margin-top: @small-top-margin;
  }
}

#first-step {
  display: block;
}

#second-step {
  display: none;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;

  input, select {
    width: 95%;
    display: block;

    &.full-width {
      width: 98%;

      @media @medium-screen {
        width: 100%;
      }
    }

    @media @medium-screen {
      width: 100%;
    }
  }
}

.subsection {
  margin-top: @small-top-margin;
}

form {
  margin-top: @small-top-margin;

  .StripeElement {
    background-color: white;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
}

#button-container {
  text-align: center;

  button {
    display: inline-block;
  }
}

#donation-loading {
  display: none;

  img {
    display: block;
    margin: @large-top-margin auto 0;
  }
}

input, select {
  height: 42px;
  margin: .25em 0;
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  background: @white;
}

h3 {
  margin-top: @small-top-margin;
}

.paypal-link {
  cursor: pointer;
}

#gala-info {
  text-align: center;
}

.gala-side-text {
  text-align: center;
}

#gold-sponsor {
  color: #bb9727;
}

.sponsor-logo {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  width: 50%;
}

#gala-info {
  text-align: center;
  margin: 1em 0;
}

#welcome {
  text-align: center;
  margin: 1em 0;
}
