@import "globals.less";

#events {
    .event-entry {
        margin-top: 45px;

        h1 {
            border-bottom: 1px solid @separator-color;
        }

        img {
            margin: 25px auto 0;
            width: 400px;
        }
    }
}
