@import "globals.less";

#experience {
    #page-info {
        @link-height: 48px;

        .link-block {
            background: @light-theme-color;
            color: @white;
            text-align: center;
            height: @link-height;
            width: 100%;
            max-width: 400px;
            margin: 0 auto;

            &:hover {
                background: @dark-theme-color;
            }

            p {
                line-height: @link-height;
            }
        }
    }

    #mission-trips {
        margin-top: 45px;

        .page-section-header {
            color: @white;
            text-align: center;
        }

        h3 {
            text-align: center;
            font-size: 20px;
            padding-bottom: 5px;
        }

        #trip-showcase {
            padding: 45px 0;

            #first {
                margin-top: 0;
            }
        }
    }

    #mission-trip-details {
        color: @white;

        .page-section-header {
            color: @white;
            text-align: center;
        }

        #specific-details {
            padding: 45px 0;

            #details-content {
                text-align: center;
            }
        }
    }

    #faq {
        h2 {
            text-align: center;
        }

        .question {
            padding-bottom: 15px;

            h3 {
                font-weight: bold;
            }

            p {
                margin-top: 10px;
            }
        }
    }
}
