@import "globals.less";

footer {
    margin-top: @sub-section-top-margin;
    color: @light-theme-color;
    text-align: center;

    background: @dark-theme-color;
    padding: 75px 0;

    img {
        margin: 0 auto;
    }

    .pure-menu {
        margin-top: 30px;

        ul {
            li {
                padding-bottom: 0;

                a {
                    .vertical-separator {
                        color: @light-theme-color;
                    }

                    &.pure-menu-link {
                        color: @light-theme-color;
                        padding: 0;

                        &:hover {
                            background-color: @dark-theme-color;
                        }
                    }

                    &:hover {
                        color: #ffffff;
                    }
                }

            }
        }
    }

    #social {
        margin: 0 auto;
        width: 490px;

        .social-link-block {
            @connect-height: 100px;

            .social-item {
                text-align: center;

                p {
                    color: @light-theme-color;
                    height: 25px;
                    display: inline-block;
                }

                img {
                    float: left;
                    padding-right: 5px;
                }
            }
        }
    }
}
