@light-theme-color: #36bfbb;
@dark-theme-color: #00514d;
@separator-color: #cccccc;
@white: #ffffff;
@black: #000000;
@gray: #666666;

@sub-section-top-margin: 70px;
@header-padding: 15px;
@side-container-padding: 25px;

.left-margin(@full-row-count, @partial-row-count) {
    @margin-left: percentage(((100 / @full-row-count) / 2) / 100);
}
