@import "globals.less";

header {
	@header-height: 50px;
	padding-top: @header-padding;

	.container {
		.pure-g {
			@media @medium-screen {
				padding: 0;
			}
		}

		#left-header {
			@media @medium-screen {
				width: 100%;
			}

			img {
				@media @medium-screen {
					margin: 0 auto;
				}
			}
		}

		#right-header {
			text-align: right;
			width: 100%;
			margin-top: -38px;

			@media @medium-screen {
				text-align: center;
				width: 100%;
				margin: 10px 0 0;
			}

			#drop-down-menu {
				display: none;
				background: @dark-theme-color;

				@media @medium-screen {
					display: block;
				}

				#hamburger {
					width: 94px;
					margin: 0 auto;
					cursor: pointer;

					p {
						@hamburger-icon-width: image-width("../images/common/hamburger.jpg");
						@hamburger-icon-height: image-width("../images/common/hamburger.jpg");
						padding: 0 0 0 @hamburger-icon-width;
						height: @hamburger-icon-height;
						margin-top: -@hamburger-icon-height;
						line-height: @hamburger-icon-height;
						color: @white;
						background: @dark-theme-color;
					}
				}
			}

			ul {
				@media @medium-screen {
					background: @dark-theme-color;
					width: 100%;
					display: none;
				}

				li {
					padding-bottom: 0;

					@media @medium-screen {
						display: list-item;
						border-bottom: 1px solid @separator-color;
						@menu-item-height: 40px;
						height: @menu-item-height;
						line-height: @menu-item-height;

						&:first-child {
							border-top: 1px solid @separator-color;
						}

						&:last-child {
							border-bottom: none;
						}
					}

					a {
						.vertical-separator {
							color: @light-theme-color;

							@media @medium-screen {
								display: none;
							}
						}

						&.pure-menu-link {
							color: @black;
							padding: 0;

							&:hover {
								background-color: @white;

								@media @medium-screen {
									background-color: @light-theme-color;
								}
							}

							@media @medium-screen {
								color: @white;
							}
						}

						&:hover {
							color: @light-theme-color;

							@media @medium-screen {
								color: @black;
							}
						}
					}
				}
			}
		}

	}
}
