@import "colors.less";

header {
	@header-height: 50px;
	padding-top: 15px;

	#left-header {
		@media only screen and (max-width: 712px) {
			width: 100%;

			img {
				margin: 0 auto;
			}
		}
	}

	#right-header {
		text-align: right;
		width: 100%;
		margin-top: -38px;

		@media only screen and (max-width: 712px) {
			text-align: center;
			width: 100%;
			margin: 0;
		}

		ul {
			li {
				padding-bottom: 0;

				a {
					.vertical-separator {
						color: @light-theme-color;
					}

					&.pure-menu-link {
						color: #000000;
						padding: 0;

						&:hover {
							background-color: #ffffff;
						}
					}

					&:hover {
						color: @light-theme-color;
					}
				}
			}
		}
	}
}
