@import "colors.less";
@import "margins.less";

#home {
	#slide-show {
		height: 339px;
		margin-top: 15px;

		@media only screen and (max-width: 568px) {
			display: none;
		}

		.unslider {
			width: 1000px;
			margin: 0 auto;
		}

		.unslider-nav ol {
			list-style: none;
			text-align: center;
			height: 18px;
		}
		.unslider-nav ol li {
			display: inline-block;
			width: 6px;
			height: 6px;
			margin: 0 4px;
			background: transparent;
			border-radius: 5px;
			overflow: hidden;
			text-indent: -999em;
			border: 2px solid @dark-theme-color;
			cursor: pointer;
		}
		.unslider-nav ol li.unslider-active {
			background: @dark-theme-color;
			cursor: default;
		}

		.hide-slide {
			display: none;
		}

		.hidden-image-url {
			display: none;
		}
	}

	#three-block-information {
		margin-top: 25px;

		.info-content {
			border-right: 1px solid @separator-color;
			padding: 0 25px;
		}

		#last-info {
			border-right: none;
		}

		.beginning {
			color: @light-theme-color;
		}

		.text-block {
			height: 130px;
		}

		@link-height: 48px;

		.link-block {
			background: @light-theme-color;
			color: #ffffff;
			text-align: center;
			height: @link-height;

			&:hover {
				background: @dark-theme-color;
			}

			p {
				line-height: @link-height;
			}
		}
	}

	#our-work {
		margin-top: @sub-section-top-margin;

		.work-row {
			margin-top: 15px;
		}

		.work-column {
			&:hover {
				color: @dark-theme-color;
			}
		}

		h1 {
			text-align: center;
			padding-bottom: @header-padding;
		}

		img {
			margin: 0 auto;
		}

		h2 {
			text-align: center;
			font-size: 20px;
		}

		.work-description {
			margin-left: 4px;
		}
	}

	#connect{
		@connect-height: 100px;
		background: @dark-theme-color;
		color: #ffffff;
		height: @connect-height;
		margin-top: @sub-section-top-margin;

		#connect-label {
			line-height: @connect-height;
			margin-left: 25px;
		}

		.social-link-block {
			height: @connect-height;
			color: @light-theme-color;

			&:hover {
				color: #ffffff;
			}

			.social-item {
				@social-item-height: 20px;
				height: @social-item-height;
				padding-top: ((@connect-height - @social-item-height) / 2);
				text-align: center;

				.specific-media {
					border-right: 1px solid @light-theme-color;
					height: @social-item-height;

					&.last {
						border-right: none;
					}
				}

				p {
					height: @social-item-height;
					display: inline-block;
				}

				img {
					float: left;
					padding-right: 5px;
				}
			}
		}
	}

	#news-and-events {
		margin-top: @sub-section-top-margin;

		@block-header-height: 50px;

		.news-and-events-header {
			border-bottom: 1px solid @separator-color;
			height: @block-header-height;
			margin-bottom: @header-padding;
		}

		h1 {
			line-height: @block-header-height;
		}

		#news {
			padding-right: 85px;

			h2 {
				color: @dark-theme-color;
			}

			h3 {
				color: @separator-color;
				margin-top: 2px;
			}

			.news-content {
				margin-top: 16px;
			}
		}

		#events {
			.event-entry {
				margin-top: 20px;

				&#first {
					margin-top: 0;
				}
			}

			.calendar-tile {
				@tile-height: 90px;
				@tile-width: 90px;
				border: 1px solid @dark-theme-color;
				text-align: center;
				height: @tile-height;
				width: @tile-width;
				margin: 0 auto;

				.date {
					line-height: @tile-height;
					color: @dark-theme-color;
					font-size: 1.5em;
				}

				.month {
					margin-top: -18px;
				}

				.day-of-week {
					margin-top: -88px;
				}
			}

			.event-title {
				color: @dark-theme-color;
				font-size: 19px;
			}

			.event-title, .event-details {
				text-align: center;
			}

			.event-details {
				font-size: 14px;
				padding-bottom: 0;
				line-height: 17px;
			}
		}
	}
}
