@import "colors.less";

#home {
	.container {
		padding: 0;
		border-bottom: none;
	}

	p {
		line-height: 25px;
	}

	#three-block-information {
		margin-top: 25px;

		.info-content {
			border-right: 1px solid @separator-color;
			padding: 0 25px;
		}

		#last-info {
			border-right: none;
		}
	}

	.beginning {
		color: @theme-color;
	}

	.text-block {
		height: 130px;
	}

	@link-height: 48px;

	.link-block {
		background: @theme-color;
		color: #ffffff;
		text-align: center;
		height: @link-height;

		p {
			line-height: @link-height;
		}	
	}

	#news-and-social {
		margin-top: 40px;

		#news {
			padding-right: 85px;

			@block-header-height: 50px;

			#news-header {
				border-bottom: 1px solid @separator-color;
				height: @block-header-height;
			}

			h1, h2, h3 {
				font-weight: normal;
				margin: 0;
			}

			h1 {
				line-height: @block-header-height;
			}

			h2 {
				color: @theme-color;
				margin-top: 16px;
			}

			h3 {
				color: @separator-color;
				margin-top: 2px;		
			}

			.news-content {
				margin-top: 16px;
			}
		}

		#social {
			background : @social-background-color;

			a {
				margin: 0 auto;
			}
		}
	}
}
