@import "colors.less";

p, li {
	margin: 0;
	padding-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 1000px;
	margin: 0 auto;
	border-bottom: 2px solid @theme-color;
}

#header {
	padding-top: 15px;	

	.pure-g {
		margin-bottom: 15px;
	}

	#right-header {
		text-align: right;
	}

	p {
		margin: 0;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li {
			display: inline;

			a {
				text-decoration: none;
				color: #000000;

				&:hover {
					color: @theme-color;
				}
			}

		}
	}

	#magnifying-glass {
		font-size: 22px;
	}

	@separator-rotation: 15deg;
	
	#vertical-separator {
		color: @theme-color;
		display: inline-block;
		-ms-transform: rotate(@separator-rotation);
		-webkit-transform: rotate(@separator-rotation);
		transform: rotate(@separator-rotation);
	}
}
