@theme-color: #36bfbb;

p {
	margin: 0;
	padding-bottom: 10px;
}

.container {
	width: 1000px;
	padding: 0 10px;
	margin: 0 auto;
	border-bottom: 2px solid @theme-color;
}

#header {
	padding-top: 15px;	

	.pure-g {
		margin-bottom: 15px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li {
			display: inline;

			a {
				text-decoration: none;
				color: #000000;

				&:hover {
					color: @theme-color;
				}
			}

		}
	}

	#right-header {
	text-align: right;
}

	#magnifying-glass {
		font-size: 22px;
	}

	#vertical-separator {
		color: @theme-color;
		display: inline-block;
		-ms-transform: rotate(7deg);
		-webkit-transform: rotate(7deg);
		transform: rotate(7deg);
	}
}
