<app-page-header [title]="'Virtual Gala 2020'"></app-page-header>

<div class="container main-page-content">
  <div id="content">
    <div class="padding-hold">
      <div class="individual-event">
        <div class="event-content first-event">
          <h1 class="welcome">
            Welcome!
          </h1>

          <h2 class="welcome">
            Thank you for joining Reiser Relief for our first-ever virtual gala
          </h2>

          <h2 class="welcome">
            Tonight, we join together to celebrate the many ways we are sharing
            hope with our friends in Haiti. By giving generously, you make it
            possible for us to expand Father Reiser's legacy of love and
            compassion. We are truly blessed.
          </h2>
          <br />
          <br />

          <iframe
            src="https://player.vimeo.com/video/478599075"
            width="640"
            height="564"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
          ></iframe>
          <br />
          <br />

          <h2 style="text-align: center">
            <a
              href="https://vimeo.com/477870715"
              class="plain-link"
              target="_blank"
            >
              Watch the full version of Father Joncas' reflection and song</a
            ><br /><br />
            <a
              target="_blank"
              class="plain-link"
              href="https://drive.google.com/file/d/1JqQysBQ8KmajKBiZezCnm6CWD1JUW0KS/view?usp=sharing"
              >Click here to follow along with the hymn</a
            >
          </h2>

          <br />
          <br />
          <br />
          <br />

          <div class="row no-gutter">
            <div class="col-md-9">
              <div id="donation-container">
                <app-payment></app-payment>

                <h1 id="gold-sponsor">Sponsors</h1>
                <br /><br />
                <a
                  href="https://aspenexteriors.com/"
                  class="plain-link"
                  target="_blank"
                >
                  <img
                    src="../../assets/images/gala/aspen.jpg"
                    class="sponsor-logo"
                    alt="Aspen Exteriors"
                /></a>
                <h3 id="aspen-text">Storm damage? We can help! 763-220-ROOF</h3>
                <br />
                <br />
                <br />

                <a
                  href="https://stmarys-wbl.org/"
                  class="plain-link"
                  target="_blank"
                >
                  <img
                    src="../../assets/images/gala/stmary.jpg"
                    class="sponsor-logo"
                    alt="Saint Mary of the Lake"
                /></a>
              </div>
            </div>
            <div class="col-md-3 gala-side-text">
              <img
                src="../../assets/images/gala/MikeJoncas.jpg"
                alt="Mike Joncas"
              />
              <p>
                <a
                  href="https://www.ocp.org/en-us/artists/413/michael-joncas"
                  class="plain-link"
                  target="_blank"
                  >Father Jan Michael Joncas</a
                >
                will perform one of his newest hymns,
                <a
                  target="_blank"
                  class="plain-link"
                  href="https://www.youtube.com/watch?v=JZvkBg01vHs"
                  >"A Place Called Home"</a
                >
              </p>

              <img
                src="../../assets/images/gala/RalphTalbot.jpg"
                alt="Ralph Talbot"
              />
              <p>Father Ralph Talbot will deliver a special blessing</p>

              <a href="/about/board-members">
                <img
                  src="../../assets/images/gala/WillJude.jpg"
                  alt="Will Jude"
                />
              </a>
              <p>
                Will Jude<br />
                Executive Director<br />
                Reiser Relief
              </p>
              <a href="/about/board-members">
                <img
                  src="../../assets/images/gala/joyce_getchell.jpg"
                  alt="Joyce Getchell"
                />
              </a>

              <p>
                Joyce Getchell<br />
                Vice President<br />
                Reiser Relief
              </p>

              <a href="/about/board-members">
                <img
                  src="../../assets/images/gala/joline_caswell.jpg"
                  alt="Joline Caswell"
                />
              </a>
              <p>
                Joline Caswell<br />
                Board Member
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
</div>
