@import '../../shared/globals';

h2 {
  width: 75%;
  margin: 0 auto !important;
  text-align: center;
  color: #787878;
  margin-top: 0.5em !important;
  line-height: 40px;
}

h3 {
  text-align: center;
  margin: 1em 0 !important;
}
