<div class="page-wrapper">
  <app-banner></app-banner>

  <h2>
    We partner with impactful organizations to empower and engage the people of
    Haiti in Christ’s name
  </h2>

  <app-home-cards></app-home-cards>

  <app-newsletter-subscribe></app-newsletter-subscribe>

  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h3>News</h3>
        <app-news-posts></app-news-posts>
      </div>
      <div class="col-lg-5">
        <h3>Events & Trips</h3>
        <app-event-listings></app-event-listings>
      </div>
    </div>
  </div>
</div>
