{{ include('experience/experience-header.twig') }}

<section id="page-info">
    <div class="padding-hold">
        <h1 id="page-info-heading">
            Thank you for applying.  A team member will be in touch with you shortly.
        </h1>
    </div>
</section>

{{ include('experience/experience-footer.twig') }}
