{{ include('experience/experience-header.twig') }}

<section id="page-info">
    <div class="padding-hold">
        <h1 id="page-info-heading">
            Experience the opportunity of a lifetime.
        </h1>
        <p id="page-info-details">
            Mission trips allow us to connect with Haitians, our teammates and with God, learn about the needs of the poor, and transform our hearts.  During and after a mission trip, God will lead you on a path to respond to the needs of others.  Your heart will never be the same.
        </p>
        <div class="link-block">
            <a href="{{ RootURL }}experience/apply">
                <p>
                    APPLY
                </p>
            </a>
        </div>
    </div>
</section>

<section id="mission-trip-details">
	<div class="container">
		<div class="padding-hold">
			<h2 class="page-section-header">
				Mission Trips
			</h2>
		</div>
	</div>
</section>

{{ include('experience/experience-footer.twig') }}
