{{ include('experience/experience-header.twig') }}

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Live out God's mission through service.
            </h1>
            <p id="page-info-details">
                Walking and working together, we seek to accompany our companions in Christ.
            </p>
            <div class="link-block">
                <a href="/experience/trip-dates">
                    <p>
                        APPLY
                    </p>
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="mission-trips">
        <div id="trip-showcase">
            <div class="container">
                <div class="padding-hold">
                    <h2 class="page-section-header">
                        Mission Trips
                    </h2>
                    <div id="first" class="page-sub-section">
                        <img class="left-aligned" src="/resources/images/experience/trip-1.jpg"
                             alt="Mission trip">
                        <h3>
                            Leave your Comfort Zone
                        </h3>
                        <p>
                            Our focus in Haiti is on connecting, learning, transforming and responding. We will go
                            places where you will have the opportunity to connect with Haitians and learn about
                            their culture and lives. We spend time at schools, orphanages, homes for elderly, and
                            hospitals, and look for opportunities to learn from the Haitians while sharing our time
                            and talents in ways that are respectful and meaningful.
                        </p>
                    </div>
                    <div class="page-sub-section">
                        <img class="right-aligned" src="/resources/images/experience/trip-2.jpg"
                             alt="Mission trip">
                        <h3>
                            Grow as a Person
                        </h3>
                        <p>
                            Mission work can help you separate from your everyday world, connect to yourself, God
                            and others, learn and transform your heart and priorities. We will spend time together
                            as a group each evening reflecting and sharing. Most importantly, we look for
                            opportunities to share Christ’s good news by being His hands and feet in serving those
                            He puts in front of us.
                        </p>
                    </div>
                    <div class="page-sub-section">
                        <iframe
                                src="https://www.youtube.com/embed/GF9DAVDIrmU" frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="mission-trip-details">
        <div id="specific-details">
            <div class="container">
                <div class="padding-hold">
                    <h2 class="page-section-header">
                        Mission Trip Details
                    </h2>
                    <table class="pure-table pure-table-bordered">
                        <thead>
                        <tr>
                            <th>Cost</th>
                            <th>Trip Length</th>
                            <th>Age Minimum</th>
                            <th>Application</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>$875</td>
                            <td>Monday to Monday: 8 days / 7 nights</td>
                            <td>15 years</td>
                            <td><a href="/experience/trip-dates" class="plain-link">Apply online</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="small-table-hold">
                        <div class="small-table-row odd">
                            <div class="pure-g">
                                <div class="pure-u-1-2"><div class="left-column"><p>Cost</p></div></div>
                                <div class="pure-u-1-2"><p>$875</p></div>
                            </div>
                        </div>
                        <div class="small-table-row">
                            <div class="pure-g">
                                <div class="pure-u-1-2"><div class="left-column"><p>Trip Length</p></div></div>
                                <div class="pure-u-1-2"><p>8 days / 7 nights</p></div>
                            </div>
                        </div>
                        <div class="small-table-row odd">
                            <div class="pure-g">
                                <div class="pure-u-1-2"><div class="left-column"><p>Age Minimum</p></div></div>
                                <div class="pure-u-1-2"><p>15 years</p></div>
                            </div>
                        </div>
                        <div class="small-table-row" id="last">
                            <div class="pure-g">
                                <div class="pure-u-1-2"><div class="left-column"><p>Application</p></div></div>
                                <div class="pure-u-1-2"><p><a href="/experience/trip-dates" class="plain-link">Apply
                                        online</a></p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="faq">
        <div class="container">
            <div class="padding-hold">
                <h2 class="page-section-header">
                    Frequently Asked Questions
                </h2>
            </div>
            <div class="padding-hold">
                {% for CurrentQuestion in Questions %}
                    <div class="question">
                        <h3>
                            {{ CurrentQuestion['question'] }}
                            <img class="right-arrow" src="/resources/images/common/arrows/right-arrow-black-small.png"
                                 alt="Right arrow">
                            <img class="down-arrow" src="/resources/images/common/arrows/down-arrow-black-small.png"
                                 alt="Down arrow">
                        </h3>
                        <p>
                            {{ CurrentQuestion['answer'] | raw }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{{ include('experience/experience-footer.twig') }}
