{{ include('give/give-header.twig') }}

<section id="page-info">
    <div class="padding-hold">
        <h1 id="page-info-heading">
            Support those in need.
        </h1>
        <p id="page-info-details">
            Your donations will provide clean water, food, education and care to poor Haitians. We are committed to
            being a volunteer run organization, where nearly 100% of all donations go directly towards the needs of the
            poor.
        </p>
    </div>
</section>

<section id="give-funds">
    <div class="container">
        <div class="padding-hold">
            <h2 class="page-section-header">
                Give Today
            </h2>
            <div class="pure-g">
                <div class="pure-u-1-1 pure-u-md-11-24">
                    <div class="pure-g">
                        <div class="pure-u-1-1 pure-u-md-1-2 pure-u-sm-1-4">
                            <div class="donation-container">
                                <p class="donation-amount">
                                    $10
                                </p>
                            </div>
                        </div>
                        <div class="pure-u-1-1 pure-u-md-1-2 pure-u-sm-1-4">
                            <div class="donation-container">
                                <p class="donation-amount">
                                    $25
                                </p>
                            </div>
                        </div>
                        <div class="pure-u-1-1 pure-u-md-1-2 pure-u-sm-1-4">
                            <div class="donation-container">
                                <p class="donation-amount">
                                    $50
                                </p>
                            </div>
                        </div>
                        <div class="pure-u-1-1 pure-u-md-1-2 pure-u-sm-1-4">
                            <div class="donation-container">
                                <p class="donation-amount">
                                    Other
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-1 pure-u-md-13-24">
                    <img src="{{ RootURL }}resources/images/give/give-funds.jpg" id="give-funds-image" alt="Give">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="give-other">
    <div class="container">
        <div class="padding-hold">
            <h2 class="page-section-header">
                Other Ways to Give
            </h2>
            <div class="pure-g">
                <div class="pure-u-1-1 pure-u-md-1-2">
                    <h3 class="other-heading">GiveMN</h3>
                    <p>
                        Donate online to Reiser Relief with GiveMN which allows for scheduled monthly or yearly
                        donations.
                    </p>
                    <p><a href="https://givemn.org/organization/Reiser-Relief" class="plain-link">
                            Visit GiveMN here.
                        </a>
                    </p>
                </div>
                <div class="pure-u-1-1 pure-u-md-1-2">
                    <h3 class="other-heading">By Mail</h3>
                    <p>
                        Donations may also be mailed to: <br>
                        Reiser Relief Inc. <br>
                        PO Box 48096 <br>
                        Coon Rapids, MN 55448 <br>
                    </p>
                    <p>
                        <a href="https://drive.google.com/file/d/0By871gytPLeeUXRVVUREWmhsWkE/view?usp=sharing"
                           class="plain-link">
                            Print a donation form here.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{{ include('give/give-footer.twig') }}
