{{ include('give/give-header.twig') }}

<section id="page-info">
    <div class="padding-hold">
        <h1 id="page-info-heading">
            Support those in need.
        </h1>
        <p id="page-info-details">
            Your donations will provide clean water, food, education and care to poor Haitians. We are committed to
            being a volunteer run organization, where nearly 100% of all donations go directly towards the needs of the
            poor.
        </p>
    </div>
</section>

<section id="give-methods"></section>

{{ include('give/give-footer.twig') }}
