{{ include('give/give-header.twig') }}

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Support those in need.
            </h1>
            <p id="page-info-details">
                Your donations will provide clean water, food, education and care to poor Haitians. We are grateful for the volunteers who give of their time and talent to Reiser Relief. Due to their dedication, over 90% of every dollar donated goes to Reiser Relief's ministry partners in Haiti.
            </p>
        </div>
    </div>
</section>

<section>
    <div id="give-funds">
        <div class="container">
            <div class="padding-hold">
                <h2 class="page-section-header">
                    Give Today
                </h2>
                <iframe
                        src="https://www.youtube.com/embed/JR0DUX1ItSw" frameborder="0" allowfullscreen>
                </iframe>
                <div class="pure-g" id="donation-buttons">
                    <div class="pure-u-1-1">
                        <div class="pure-g">
                            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-sm-1-4">
                                <div class="donation-container">
                                    <p class="donation-amount">
                                        $25
                                    </p>
                                </div>
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-sm-1-4">
                                <div class="donation-container">
                                    <p class="donation-amount">
                                        $50
                                    </p>
                                </div>
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-sm-1-4">
                                <div class="donation-container">
                                    <p class="donation-amount">
                                        $100
                                    </p>
                                </div>
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-sm-1-4">
                                <div class="donation-container">
                                    <p class="donation-amount">
                                        More
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p id="give-examples">
                    A small donation of just $25 will provide 350 five gallon pails of water to a family who has no
                    access to clean water, education for one child for half a year, or daily care for a vulnerable or
                    elderly Haitian.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="give-recurring">
        <div class="container">
            <div class="padding-hold">
                <h2 class="page-section-header">
                    Recurring Donations
                </h2>
                <div class="pure-g">
                    <div class="pure-u-1-1">
                        <a href="https://givemn.org/organization/Reiser-Relief" target="_blank"><img
                                    src="/resources/images/give/give-mn.png" alt="GiveMN"></a>
                        <p>
                            Donate online to Reiser Relief with GiveMN, which allows for scheduled monthly or yearly
                            donations.
                        </p>
                        <p><a href="https://givemn.org/organization/Reiser-Relief" class="plain-link" target="_blank">
                                Visit GiveMN here.
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="give-other">
        <div class="container">
            <div class="padding-hold">
                <h2 class="page-section-header">
                    Other Ways to Give
                </h2>
                <div class="pure-g">
                    <div class="pure-u-1-1">
                        <h3 class="other-heading">By Mail</h3>
                        <p>
                            Donations may also be mailed to: <br>
                            Reiser Relief Inc. <br>
                            PO Box 48096 <br>
                            Coon Rapids, MN 55448 <br>
                        </p>
                        <p>
                            <a href="https://drive.google.com/file/d/0By871gytPLeeUXRVVUREWmhsWkE/view?usp=sharing"
                               class="plain-link" target="_blank">
                                Print a donation form here.
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ include('give/give-footer.twig') }}
