{{ include('give/give-header.twig') }}

<section id="page-info">
    <div class="padding-hold">
        <h1 id="page-info-heading">
            Support those in need.
        </h1>
        <p id="page-info-details">
            Your donations will provide clean water, food, education and care to poor Haitians. We are committed to
            being a volunteer run organization, where nearly 100% of all donations go directly towards the needs of the
            poor.
        </p>
    </div>
</section>

<section id="give-methods">
    <div class="container">
        <div class="padding-hold">
            <h2 class="page-section-header">
                Give Today
            </h2>
            <div class="pure-g" id="amount-columns">
                <div class="pure-u-1-1 pure-u-md-1-4 single-amount">
                    <p class="donation-amount selected-amount">$10</p>
                </div>
                <div class="pure-u-1-1 pure-u-md-1-4 single-amount">
                    <p class="donation-amount">$25</p>
                </div>
                <div class="pure-u-1-1 pure-u-md-1-4 single-amount">
                    <p class="donation-amount">$50</p>
                </div>
                <div class="pure-u-1-1 pure-u-md-1-4 single-amount">
                    <p class="donation-amount">Other</p>
                </div>
            </div>
            <div class="amount-details selected-amount-details" id="ten-dollars">
                <p>A gift of $10 will provide the following:</p>
            </div>
            <div class="amount-details" id="twenty-five-dollars">
                <p>A gift of $25 will provide the following:</p>
                <ul>
                    <li>
                        350 five gallon buckets of fresh water to Cite Soleil, Haiti.
                    </li>
                    <li>
                        425 meals delivered to children in need in Haiti.
                    </li>
                    <li>
                        Education for one child for half a year.
                    </li>
                </ul>
            </div>
            <div class="amount-details" id="fifty-dollars">
                <p>A gift of $50 will provide the following:</p>
            </div>
            <div class="amount-details" id="other">
                <p>A gift of other will provide the following:</p>
            </div>
        </div>
    </div>
</section>

{{ include('give/give-footer.twig') }}
