body {
  position: relative;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif !important;
}

p,
h1,
h2,
h3,
h4,
ul,
li,
input {
  padding: 0 !important;
  margin: 0 !important;
}

h3 {
  font-size: 2rem !important;
}

.page-wrapper {
  padding: 0 0.5em 2em 0.5em;
}

li:focus {
  outline: none;
  box-shadow: none;
}

p {
  line-height: 32px;
}

input,
button {
  height: 2.5em;
  border-radius: 4px !important;
  border: none;
}

input {
  padding-left: 10px !important;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.separator {
  margin: 0 auto;
  margin-top: 1em;
  height: 2px;
  width: 95%;
  background: #787878;
}
