<app-page-header [title]="'Donate'"></app-page-header>

<div class="page-wrapper">
  <div class="container">
    <p id="info">
      Your donation will provide clean water, food, education and care to the
      poor in Haiti. Reiser Relief Inc. is a 501(c)(3) ministry. Donations are
      tax exempt as allowed by law.
    </p>

    <iframe
      src="https://www.youtube.com/embed/JR0DUX1ItSw"
      frameborder="0"
      allowfullscreen
    >
    </iframe>

    <h2>Donate Today</h2>

    <h3>Choose a Donation Frequency</h3>

    <ul>
      <li
        *ngFor="let donationFrequency of donationFrequencies"
        [innerText]="donationFrequency"
        (click)="donationFrequencyClick(donationFrequency)"
        [ngClass]="{ active: frequencyActive(donationFrequency) }"
      ></li>
    </ul>

    <h3>Choose a Donation Level</h3>

    <ul>
      <li
        *ngFor="let donationLevel of donationLevels"
        (click)="donationLevelClick(donationLevel)"
        [innerText]="donationLevelLabel(donationLevel)"
        [ngClass]="{ active: levelActive(donationLevel) }"
      ></li>
    </ul>

    <input
      type="text"
      class="form-control"
      id="other-amount"
      *ngIf="showOtherAmount"
      [(ngModel)]="customDonationAmount"
    />

    <form [formGroup]="addressForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Enter name"
          formControlName="name"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="addressLine1">Address Line 1</label>
        <input
          type="text"
          class="form-control"
          id="addressLine1"
          placeholder="Enter Line 1 of Address"
          formControlName="addressLine1"
        />
      </div>
      <div class="form-group">
        <label for="addressLine2">Address Line 2</label>
        <input
          type="text"
          class="form-control"
          id="addressLine2"
          placeholder="Enter Line 2 of Address"
          formControlName="addressLine2"
        />
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          placeholder="Enter City"
          formControlName="city"
        />
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <select
          type="text"
          class="form-control"
          id="state"
          formControlName="state"
        >
          <option
            *ngFor="let state of states"
            [value]="state.abbreviation"
            [innerText]="state.state"
          ></option>
        </select>
      </div>
      <div class="form-group">
        <label for="zip">Zip Code</label>
        <input
          type="text"
          class="form-control"
          id="zip"
          placeholder="Enter Zip Code"
          formControlName="zip"
        />
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          placeholder="Enter Phone Number"
          formControlName="phone"
        />
      </div>
    </form>

    <div id="card-element" class="field"></div>
    <button (click)="buy()">
      BUY
    </button>
  </div>
</div>
