<app-page-header [title]="'Donate'"></app-page-header>

<div class="page-wrapper">
  <div class="container">
    <p id="info">
      Your donation will provide clean water, food, education and care to the
      poor in Haiti. Reiser Relief Inc. is a 501(c)(3) ministry. Donations are
      tax exempt as allowed by law.
    </p>

    <iframe
      src="https://www.youtube.com/embed/JR0DUX1ItSw"
      frameborder="0"
      allowfullscreen
    >
    </iframe>

    <h2>Donate Today</h2>

    <h3>Choose Your Donation Frequency</h3>
  </div>
</div>
