@import '../../shared/globals';

$button-height: 45px;

#info {
  margin: 0 auto !important;
  margin-top: 2em !important;
  margin-bottom: 2em !important;
  width: 100%;
  max-width: 45em;
  color: $gray-theme-color;
  text-align: center;
}

iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: 400px;
}

h2 {
  text-align: center;
}

h3 {
  margin: 2em 0 1em 0 !important;
  text-align: center;
  color: $gray-theme-color;
  font-size: 20px;
}

ul {
  list-style: none;
  text-align: center;
}

button, li {
  height: $button-height;
  line-height: $button-height;
  border-radius: 5px;
  cursor: pointer;
}

button {
  display: block;
  margin: 0 auto;
  width: 145px;
  background:$dark-theme-color;
  border: 1px solid $dark-theme-color;
  color: $white;

  &:hover {
    color: $light-theme-color;
  }
}

li {
  display: inline-block;
  margin-right: 40px !important;
  width: 115px;
  color: $light-theme-color;
  border: 1px solid $light-theme-color;

  &.active, &:hover {
    background: $light-theme-color;
    color: $white;
  }
}

#other-amount {
  margin: 0 auto;
  margin-top: 2em;
  width: 215px;

  .col {
    padding: 0;
  }

  input {
    width: 12em;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  p {
    text-align: center;
    font-size: 22px;
  }

  #dollar-sign {
    background: #ced4da;
    flex: 0 0 20px;
  }
}

form {
  margin-top: 1em;
}

#error-message {
  $height: 50px;

  height: $height;
  line-height: $height;
  color: $error-red;
  text-align: center;
}

#thanks-message {
  text-align: center;
}

#home {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

::ng-deep .StripeElement {
  border: 1px solid #ced4da;
  padding: 0 10px;
}